<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  
    <div class="app-brand demo ">
      <a href="/" class="app-brand-link">
        <span class="app-brand-logo demo">
        <img src="/static/imgs/My_dream_logo/4_nobg.png" style="width: 100%;"/>  
  
  </span>
        <span>        <img src="/static/imgs/My_dream_logo/2nobg.png" class="ms-2" style="width: 70%;"/>  
        </span>
      </a>
  
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
        <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
      </a>
    </div>
  
    
    <div class="menu-divider mt-0  ">
    </div>
  
    <div class="menu-inner-shadow"></div>
  
    
    
    <ul class="menu-inner py-1">
      <!-- Apps & Pages -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Educational Portal</span></li>
      <li class="menu-item {% if title == 'Home' %} active {% endif %}">
        <a href="/parentsside/" class="menu-link">
          <i class="menu-icon tf-icons fa-solid fa-house"></i>
          <div>Dashboard</div>
        </a>
      </li>

      <li class="menu-item {% if title == 'Report-Card' %}active{% endif %}">
        <a href="{% url 'parentside_report_card' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-solid fa-magnifying-glass-chart"></i>
          <div>Report Card</div>
        </a>
      </li>

      <li class="menu-item {% if title == 'Payments' %}active{% endif %}">
        <a href="{% url 'parentside_payment' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-solid fa-hand-holding-dollar"></i>
          <div>Payments</div>
        </a>
      </li>

      <li class="menu-item {% if title == 'Announcement' %}active{% endif %}">
        <a href="{% url 'parentside_announcement' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-solid fa-bullhorn"></i>
          <div>Announcement</div>
        </a>
      </li>

      <li class="menu-item {% if title == 'Timetable' %}active{% endif %}">
        <a href="{% url 'parentside_timetable' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-regular fa-clock"></i>
          <div>Timetable</div>
        </a>
      </li>

      <li class="menu-item {% if title == 'Events' %}active{% endif %}">
        <a href="{% url 'parent_events' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-brands fa-galactic-republic"></i>
          <div>Events</div>
        </a>
      </li>
    </ul>
    
  </aside>
  <!-- / Menu -->