{% extends 'studentpanel/master.html' %}

<!-- ================================================================================= -->






{% block contentsection %}
<div class="mb-4">
  <h4>Attendance</h4>
</div>


{% include 'message_show.html' %}
<!-- DataTable with Buttons -->

{% if attendence_prec %}
    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center gap-3">
                <div class="avatar">
                  <span class="avatar-initial bg-label-primary rounded-circle"><i class="bx bx-user fs-4"></i></span>
                </div>
                <div class="card-info">
                  <h5 class="card-title mb-0 me-2">{{attendence_prec}}%</h5>
                  <small class="text-muted">Overall Attendance</small>
                </div>
              </div>
              <div id="conversationChart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    
    
  <div class="row">
    {% for subject_data in subject_attendance %}
    <div class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center gap-3">
              <div class="avatar">
                <span class="avatar-initial bg-label-primary rounded-circle">
                  <i class="bx bx-user fs-4"></i>
                </span>
              </div>
              <div class="card-info">
                <h5 class="card-title mb-0 me-2">{{ subject_data.attendence_prec_subwise }}%</h5>
                <small class="text-muted">{{ subject_data.subject }}</small>
              </div>
            </div>
            <div id="conversationChart"></div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>


<div class="card">
  <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="myheadfont">{{title}} Data</div>     
      </div>
    
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
      <form method="get" action="{% url 'Student_Attendence' %} ">
        <div class="input-group mt-2" >
          <input 
            type="date" 
            name="atten_date" 
            class="form-control btn-outline-primary"
            {% if atten_date %} value="{{ atten_date }}" {% endif %} 
            style="padding: 2px 10px; width: 150px !important;" aria-label="Input group example"
            aria-describedby="btnGroupAddon"
          />
          <button id="searchButton" class="input-group-text btn-outline-primary" id="btnGroupAddon" type="submit"><i class="fa-regular fa-calendar-check"></i></button>
        </div>
      </form>
    </div>

    <div class="card-datatable table-responsive pt-0 mt-3">
      <table id="example" class="display table table-bordered" style="width:100%">
        <thead>
          <tr>
            <th></th>
            <th>Date</th>
            <th>Time</th>
            <th>Subject</th>
            <th>Tutor</th>
            <th>Attendance</th>
          </tr>
        </thead>
        <tbody>
          {% for data in attendence_data %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{data.atten_date|date:"d-m-Y"}}
              {% if data.atten_timetable__tt_day == 'SUNDAY' %}/ SUN {% elif data.atten_timetable__tt_day == 'MONDAY' %}/ MON {% elif data.atten_timetable__tt_day == 'TUESDAY' %}/ TUE {% elif data.atten_timetable__tt_day == 'WEDNESDAY' %}/ WED {% elif data.atten_timetable__tt_day == 'FRIDAY' %}/ FRI {% elif data.atten_timetable__tt_day == 'SATURDAY' %}/ SAT {% else %} {% endif %}
             </td>
            <td>{{ data.atten_timetable__tt_time1 }}</td>
            <td>{{ data.atten_timetable__tt_subject1__sub_name }}</td>
            <td>{{ data.atten_timetable__tt_tutor1__fac_name }}</td>
            <td>{% if data.atten_present %}<i class="fa-solid fa-square-check text-success"></i>{% else %}<i class="fa-solid fa-square-xmark text-danger"></i>{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


  </div>
</div>











{% endblock %}