{% extends 'studentpanel/master.html' %}

<!-- ================================================================================= -->






{% block contentsection %}
<div class="mb-4">
  <h4>Attendance</h4>
</div>


{% for message in messages %}
{{message|safe}}
{% endfor %}
<!-- DataTable with Buttons -->

<div class="card">
  <div class="card-body">
    <div class="card-datatable table-responsive pt-0">
      <table id="example" class="display table table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Day</th>
            <th>time/ day / Date</th>
            <th>Subject</th>
            <th>tutor</th>
            <th>Attendance</th>
          </tr>
        </thead>
        <tbody>
          {% for data in attendence_data %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ data.atten_timetable.tt_day }}</td>
            <td>{{ data.atten_timetable.tt_subject1.sub_name }}</td>
            <td>{{ data.atten_date }}</td>
            <td>{% if data.atten_present %}Present{% else %}Absent{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>





  </div>
</div>


<br>
{% if attendence_prec %}
<div class="row">
  <div class="col-md-12 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center gap-3">
            <div class="avatar">
              <span class="avatar-initial bg-label-primary rounded-circle"><i class="bx bx-user fs-4"></i></span>
            </div>
            <div class="card-info">
              <h5 class="card-title mb-0 me-2">{{attendence_prec}}%</h5>
              <small class="text-muted">Overall Attendance</small>
            </div>
          </div>
          <div id="conversationChart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<div class="row">
  {% for subject_data in subject_attendance %}
  <div class="col-md-3 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center gap-3">
            <div class="avatar">
              <span class="avatar-initial bg-label-primary rounded-circle">
                <i class="bx bx-user fs-4"></i>
              </span>
            </div>
            <div class="card-info">
              <h5 class="card-title mb-0 me-2">{{ subject_data.attendence_prec_subwise }}%</h5>
              <small class="text-muted">{{ subject_data.subject }}</small>
            </div>
          </div>
          <div id="conversationChart"></div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>









{% endblock %}