<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fees Collection</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    {% for x in total_amount %}
                    <h5>Total Fees Collections:{{x.fees_stud_id.stud_pack.pack_fees}}</h5>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5>Remaining Fees Collections: {{remain_amount}}</h5>
                </div>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Amount Paid</th>
                <th>Date</th>
                <th>Mode of transaction</th>
            </tr>
        </thead>
        <tbody>
            {% for x in total_amount %}
            <tr>
                <td>{{x.fees_paid}}</td>
                <td>{{x.fees_date}}</td>
                <td>{{x.fees_mode}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>