<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fees Collection</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5>Total Fees Collections: </h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5>Remaining Fees Collections: </h5>
                </div>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Amount Paid</th>
                <th>Date</th>
                <th>Mode of transaction</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>200</td>
                <td>01-02-2024</td>
                <td>UPI</td>
            </tr>
        </tbody>
    </table>
</body>
</html>