<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fees Collection</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">       
                    <h5>Fees: <del>{{student_data.stud_pack.pack_fees}}</del> {{fees_to_paid}}</h5>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Amount Paid</th>
                <th>Date</th>
                <th>Mode of transaction</th>
            </tr>
        </thead>
        <tbody>
            {% for x in fees_collection %}
            <tr>
                <td>{{x.fees_paid}}</td>
                <td>{{x.fees_date}}</td>
                <td>{{x.fees_mode}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h4>Cheque Data</h4>
    <table>
        <thead>
            <tr>
                <th>Amount Paid</th>
                <th>Cheque Date</th>
                <th>Cheque Expiry Date</th>
                <th>Cheque Paid</th>
                <th>Bounce</th>
            </tr>
        </thead>
        <tbody>
            {% for x in cheque_data %}
            {% if x.cheque_paid == 0 %}
            <tr>
                <td>{{x.cheque_amount}}</td>
                <td>{{x.cheque_date}}</td>
                <td>{{x.cheque_expiry}}</td>
                <td>{{x.cheque_paid}}</td>
                <td>{{x.cheque_bounce}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h4>With Pending Cheques Remaining = {{amount_with_pending}}</h4> <br> <hr>
    <h4>Without Pending Cheques Remaining = {{remaining_fees}}</h4> <br> <hr>
</body>
</html>