{% extends 'studentpanel/master.html' %}

{% block contentsection %}
<style>
  #students_chart tspan{display: none;}
</style>
<div class="mb-4">
  <h4>{{title}}</h4>
</div>

{% include "message_show.html" %}

{% if cusrrent_student.stud_telegram_studentchat_id %}

{% else %}
      <div class="alert bg-gradient text-white p-4 rounded">
        <h4 class="mb-3">
          🚨 <strong>Action Required: Link Your Telegram with miniStudy!</strong> 🚨
        </h4>
        <p>
          Stay connected with essential updates by linking your Telegram account. 
          Don't miss out on:
        </p>
        <ul class="list-unstyled">
          <li>📅 <strong>Attendance Records</strong></li>
          <li>📝 <strong>Test Marks</strong></li>
          <li>📚 <strong>New Learning Materials</strong></li>
          <li>📢 <strong>Announcements</strong></li>
          <li>📝 <strong>Today’s Assignments</strong></li>
          <li>...and many more important notifications!</li>
        </ul>
        <p>
          Linking your Telegram ensures you never miss a thing from miniStudy. 
          Stay up-to-date, informed, and ready to excel! 🚀
        </p>
        <div class="mt-4">
          <a href="https://t.me/Ministudy_bot" class="btn btn-light btn-lg px-4 py-2">
          Link Telegram Now
          </a>
        </div>
      </div>
      
{% endif %}
</br>
<div class="row">
  <div class="col-6 col-sm-6 col-md-3 mb-4">
    <a href="{% url 'Student_Timetable' %}">
    <div class="card card-border-shadow-warning">
      <div class="card-body dashboardcardaddon1">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center gap-2 gap-md-3">
            <div class="avatar">
              <span class="avatar-initial bg-label-warning rounded-circle"><i class="tf-icons fa-solid fa-clock fs-5"></i></span>
            </div>
            <div class="card-info">
              <h5 class="card-title mb-0 me-2">Timetable</h5>
              <small class="dashboardmutedtext text-muted">View</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  </div>


  <div class=" col-6 col-xs-6 col-sm-6 col-md-3 mb-4">
    <a href="{% url 'show_groups' %}">
      <div class="card card-border-shadow-info">
        <div class="card-body dashboardcardaddon1" >
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center gap-2 gap-md-3">
              <div class="avatar">
                <span class="avatar-initial bg-label-info rounded-circle"><i class="fa-solid fa-book-open fs-4"></i></span>
              </div>
              <div class="card-info">
                <h5 class="card-title mb-0 me-2">Materials</h5>
                <small class="dashboardmutedtext text-muted">View</small>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class=" col-6 col-xs-6 col-sm-6 col-md-3 mb-4">
    <a href="{% url 'Student_Syllabus' %}">
      <div class="card card-border-shadow-info">
        <div class="card-body dashboardcardaddon1" >
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center gap-2 gap-md-3">
              <div class="avatar">
                <span class="avatar-initial bg-label-primary rounded-circle"><i class="tf-icons fa-solid fa-clipboard-list fs-4"></i></span>
              </div>
              <div class="card-info">
                <h5 class="card-title mb-0 me-2">Syllabus</h5>
                <small class="dashboardmutedtext text-muted">View</small>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    </a>
  </div>


  <div class=" col-6 col-xs-6 col-sm-6 col-md-3 mb-4">
    <a href="{% url 'Student_Attendence' %}">
      <div class="card card-border-shadow-info">
        <div class="card-body dashboardcardaddon1" >
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center gap-2 gap-md-3">
              <div class="avatar">
                <span class="avatar-initial bg-label-danger rounded-circle"><i class="fa-brands fa-battle-net fs-4"></i></span>
              </div>
              <div class="card-info">
                <h5 class="card-title mb-0 me-2">Attendance</h5>
                <small class="dashboardmutedtext text-muted">View</small>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    </a>
  </div>

</div>


<div class="row">


  <div class=" col-6 col-xs-6 col-sm-6 col-md-6 mb-4">
    <a href="{% url 'Student_Doubt' %}">
      <div class="card card-border-shadow-danger">
        <div class="card-body dashboardcardaddon1" >
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center gap-2 gap-md-3">
              <div class="avatar">
                <span class="avatar-initial bg-label-danger rounded-circle"><i class="tf-icons fa-regular fa-circle-question fs-4"></i></span>
              </div>
              <div class="card-info">
                <h5 class="card-title mb-0 me-2">New Doubts</h5>
                <small class="dashboardmutedtext text-muted">View : {{current_doubts}}</small>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class=" col-6 col-xs-6 col-sm-6 col-md-6 mb-4">
    <a href="{% url 'Student_Announcement' %}">
      <div class="card card-border-shadow-warning">
        <div class="card-body dashboardcardaddon1" >
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center gap-2 gap-md-3">
              <div class="avatar">
                <span class="avatar-initial bg-label-warning rounded-circle"><i class="tf-icons fa-solid fa-bullhorn fs-4"></i></span>
              </div>
              <div class="card-info">
                <h5 class="card-title mb-0 me-2">Announcements</h5>
                <small class="dashboardmutedtext text-muted">View : {{current_announcements}}</small>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    </a>
  </div>


</div>


<div class="row">
  <div class="col-sm-12 col-lg-12 mb-4">
    <div class="card card-border-shadow-info h-100">
      <h5 class="card-header mb-2">Today's Timetable</h5> 
      <div class="card-body">
        <div class="mb-2 pb-1"> 
          <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Day</th>
              <th>Subject</th>
              <th>Time</th>
              <th>Tutor</th>
            </tr>
          </thead>
          <tbody>
            {% for x in today_timetable %}
            <tr>
              <th>{{x.tt_day}}</th>
              <th>{{x.tt_subject1.sub_name}}</th>
              <th>{{x.tt_time1}}</th>
              <th>{{x.tt_tutor1.fac_name}}</th>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-6">
    <div class="card mb-4" id="top_students">
    <h5 class="card-header mb-2">Performance</h5>

<div class="card-body">
  <div class="btn-group mb-3">
    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if get_subject %}{{get_subject.sub_name}}{% else %}Subject{% endif %}</button>
    <ul class="dropdown-menu">
      {% for x in subject_data %}
      <li><a class="dropdown-item" href="{% url 'Student_home' %}?get_subject={{x.sub_id}}">
        {{x.sub_name}}
      </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="table-responsive text-nowrap">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Test Result</th>
          <th>Attendance Result</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for x in overall_attendance_li %}
        {% if forloop.counter == 1 %}
        <tr>
          <td><img src="/static/imgs/medal (3).png" class="me-2" style="width: 25px;" /> <span
          class="fw-medium">{{x.stud_name}} {{ x.stud_lastname }}</span></td>
          <td>{{x.overall_result}}</td>
          <td>{{x.overall_attendance_studentwise}}</td>
        </tr>
        {% elif forloop.counter == 2 %}
        <tr>
          <td><img src="/static/imgs/medal (4).png" class="me-2" style="width: 25px;" /> <span
          class="fw-medium">{{x.stud_name}} {{ x.stud_lastname }}</span></td>
          <td>{{x.overall_result}}</td>
          <td>{{x.overall_attendance_studentwise}}</td>
        </tr>
        {% elif forloop.counter == 3 %}
        <tr>
          <td><img src="/static/imgs/medal (5).png" class="me-2" style="width: 25px;" /> <span
          class="fw-medium">{{x.stud_name}} {{ x.stud_lastname }}</span></td>
          <td>{{x.overall_result}}</td>
          <td>{{x.overall_attendance_studentwise}}</td>
        </tr>
        {% else %}
        <tr>
          <td><span class="fw-bold card d-inline-block p-2 rounded-circle border-none me-2">{{forloop.counter}}</span> <span
          class="fw-medium">{{x.stud_name}} {{ x.stud_lastname }}</span></td>
          <td>{{x.overall_result}}</td>
          <td>{{x.overall_attendance_studentwise}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% if myrank.rank > 5 %}
        <tr>
          <td><span class="fw-bold card d-inline-block p-2 rounded-circle border-none me-2">{{myrank.rank}})</span> <span
          class="fw-medium">{{myrank.stud_name}} {{ myrank.stud_lastname }}</span></td>
          <td>{{myrank.overall_result}}</td>
          <td>{{myrank.overall_attendance_studentwise}}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
</div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body p-0">
        <div class="table-responsive" style="max-height: 400px;">
          <table class="display table table-bordered ">
            <thead>
              <tr>
                <th>Test Name</th>
                <th>Total Marks</th>
                <th>Obtained Marks</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0" style="color: white !important;">
              {% for x in test_name_result_list %}
              <tr class="{%if x.color == 'green' %}alert-success{% elif x.color == 'orange' %}alert-warning{% else %}alert-danger{% endif %}">
                
                <td>{{x.test_name}}</td>
                <td>{{x.tau_total_marks}}</td>
                <td>{{x.test_result}}</td>
                
              </tr>
              {% endfor %}
            </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
</div>

  




{% endblock %}