<!DOCTYPE html>
<html lang="en" class="dark-style layout-navbar-fixed layout-menu-fixed layout-compact " dir="ltr" data-theme="theme-default" data-assets-path="/static/assets/" data-template="vertical-menu-template-dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>{{title}} | miniStudy</title>

    
    <meta name="description" content="Educational Portal" />
    <meta name="keywords" content="Educational Portal">
    {% include 'links.html' %}
    
</head>

<body>


    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
          <div class="authentication-inner py-4">
      
            <!-- Register -->
            <div class="card">
              <div class="card-body">
                {% include 'message_show.html' %}
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                  <a href="index.html" class="app-brand-link gap-2">
                    <img src="/static/imgs/My_dream_logo/4_nobg.png" alt="My Logo" style="width: 48px;" />    
                    <img src="/static/imgs/My_dream_logo/2nobg.png" style="width: 150px;" />
                  </a>
                </div>
                <!-- /Logo -->
                {% if login_set == 1 %}
                  {% include 'studentpanel/student_login.html' %}
                {% elif login_set == 2 %}
                  {% include 'studentpanel/student_Forgot_Password.html' %}
                {% elif login_set == 3 %}  
                  {% include 'studentpanel/student_reset_password.html' %}
                {% endif %}

                <div class="text-center"><a href="{% url 'FirstPage' %}" style="color: #a1b0cb;">Change Panel ..?</a></div>

              </div>
            </div>
          </div>
        </div>
      </div>

    {% include 'charts.html' %}
    {% include 'scripts.html' %}
    
    
    
    </body>
    </html>
    