{% extends 'studentpanel/master.html' %}


{% block contentsection %}
<div class="mb-4">
  <h4>Materials</h4>
</div>

{% include 'message_show.html' %}
<!-- DataTable with Buttons -->

<div class="card">
  <div class="card-body">
    <div class="btn-group">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">{% if selected_sub %}{{selected_sub.sub_name}}{% else %}Subjects{% endif %}</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'Student_Materials' %}">ALL</a></li>
        {% for subject in subjects %}
        <li><a class="dropdown-item"
            href="{% url 'Student_Materials' %}?sub_id={{subject.sub_id}}">{{subject.sub_name}}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>

<br><br>


{% if selected_sub %}
<div class="accordion" id="accordionExample">
  <div class="accordion-item" style="border-bottom:1px solid grey;">
    <h2 class="accordion-header">
      <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
        data-bs-target="#abcd{{selected_sub.sub_id}}" aria-expanded="false" aria-controls="abcd{{selected_sub.sub_id}}">
        {{selected_sub.sub_name}}
      </button>
    </h2>
    <div id="abcd{{selected_sub.sub_id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="row">
          {% if materials %}
          {% for mat in materials %}
          {% if selected_sub.sub_id == mat.cm_chepter__chep_sub__sub_id %}

          <div class="col-md-2 mb-3">
                      
                      
            <div class="card"
            style="height: 200px; border:1px solid #88a9e6; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;overflow: hidden;position: relative;">
            {% if mat.cm_file_icon %}
            <a href="/media/{{mat.cm_file}}" style="color: white;"><img src="/media/{{mat.cm_file_icon}}" style="width: 100%;height: 100%;" /></a>
            {% else %}
            <a href="/media/{{mat.cm_file}}" style="color: white;"><img src="/media/default_pdffff.png" style="width: 100%;height: 100%;" /></a>
            {% endif %}
        </div>
        
        <div class="w-100 text-white p-2" style="height: 65px;overflow: hidden;border:1px solid #88a9e6;"><a href="/media/{{mat.cm_file}}" style="color: white;">{{mat.cm_filename}} - {{mat.cm_chepter.chep_sub.sub_name}}</a></div>
    
        </div>
          {% endif %}
          {% endfor %}
          {% else %}
          <span>No materials uploaded!</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="accordion" id="accordionExample">
  {% for data in subjects %}
  <div class="accordion-item" style="border-bottom:1px solid grey;">
      <h2 class="accordion-header">
          <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
              data-bs-target="#abcd{{data.sub_id}}" aria-expanded="false" aria-controls="abcd{{data.sub_id}}">
              {{data}}
          </button>
      </h2>
      <div id="abcd{{data.sub_id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <div class="row">
                  
                  {% for mat in materials %}
                  
                  {% if data.sub_id == mat.cm_chepter__chep_sub__sub_id %}
                  <div class="col-md-2 mb-3">
                      
                      
                      <div class="card"
                      style="height: 200px; border:1px solid #88a9e6; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;overflow: hidden;position: relative;">
                      {% if mat.cm_file_icon %}
                      <a href="/media/{{mat.cm_file}}" style="color: white;"><img src="/media/{{mat.cm_file_icon}}" style="width: 100%;height: 100%;" /></a>
                      {% else %}
                      <a href="/media/{{mat.cm_file}}" style="color: white;"><img src="/media/default_pdffff.png" style="width: 100%;height: 100%;" /></a>
                      {% endif %}
                  </div>
                  
                  <div class="w-100 text-white p-2" style="height: 65px;overflow: hidden;border:1px solid #88a9e6;"><a href="/media/{{mat.cm_file}}" style="color: white;">{{mat.cm_filename}} - {{mat.cm_chepter.chep_sub.sub_name}}</a></div>
              
                  </div>
                  {% endif %}
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}