{% extends 'studentpanel/master.html' %}
 
{% block contentsection %}

{% include "studentpanel/message_show.html" %}


<h4 class="py-3 breadcrumb-wrapper mb-4">Profile</h4>
  <!-- Header -->
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="user-profile-header-banner">
          <img src="/static/assets/img/pages/Untitled designsefsdf.png" alt="Banner image" class="rounded-top" style="width: 100%;">
        </div>
        <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
          <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
            <img src="{{ student.stud_profile.url }}" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded-1 user-profile-img" style="width: 120px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
          </div>
          <div class="flex-grow-1 mt-3 mt-sm-5">
            <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
              <div class="user-profile-info">
                
                <h4>{{student.stud_name}} {{student.stud_lastname}}</h4>
                <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                  <li class="list-inline-item fw-medium">
                    <i class='bx bx-pen'></i>Std : {{student.stud_std.std_name}} {{student.stud_std.std_board}}
                  </li>
                  <li class="list-inline-item fw-medium">
                    <i class='bx bx-map'></i> Batch : {{student.stud_batch.batch_name}}
                  </li>
                  <li class="list-inline-item fw-medium">
                    <i class='bx bx-calendar-alt'></i> Package : {{student.stud_pack.pack_name}}
                  </li>
                </ul>
              
              </div>
              
              <a href="{% url 'Student_InfoUpdate' %}" class="btn btn-primary text-nowrap">
                <i class='bx bx-user-check me-1'></i>Update Information
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Header -->
  
  
  <!-- User Profile Content -->
  <div class="row">
    <div class="col-xl-4 col-lg-5 col-md-5">
      <!-- About User -->
      <div class="card mb-4">
        <div class="card-body">
          <p class="card-text text-uppercase">About</p>    
          <ul class="list-unstyled mb-4">
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Full Name:</span> <span>{{student.stud_name}} {{student.stud_lastname}}</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Username:</span> <span>{{student.stud_username}}</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Contact:</span> <span>{{student.stud_contact}}</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Email:</span> <span>{{student.stud_email}}</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">DOB:</span> <span>{{student.stud_dob}}</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Gender:</span> <span>{{student.stud_gender}}</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Address:</span> <span>{{student.stud_address}}</span></li>
          </ul>
     
        </div>
      </div>
      <!--/ About User -->
      <!-- Profile Overview -->
      
      <!--/ Profile Overview -->
    </div>
    <div class="col-xl-8 col-lg-7 col-md-7">
      <!-- Study Points -->
      <div class="card card-action mb-4">
        <div class="card-header align-items-center">
          <h5 class="card-action-title mb-0"><i class='bx bx-list-ul bx-sm me-2'></i>Study Points</h5>
        </div>
        <div class="card-body">
          Study points
        </div>
      </div>
      <!-- =======study points======== -->
    </div>
  </div>

{% endblock %}





 


          
