{% extends 'studentpanel/master.html' %}
 
{% block contentsection %}
  


<h4 class="py-3 breadcrumb-wrapper mb-4">Profile</h4>
  
  
  <!-- Header -->
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="user-profile-header-banner">
          <img src="/static/assets/img/pages/Untitled designsefsdf.png" alt="Banner image" class="rounded-top" style="width: 100%;">
        </div>
        <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
          <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
            <img src="/static/assets/img/avatars/1.png" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded-3 user-profile-img" style="width: 120px;border: 2px solid black;">
          </div>
          <div class="flex-grow-1 mt-3 mt-sm-5">
            <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
              <div class="user-profile-info">
                <h4>Shivam Sharma</h4>
                <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                  <li class="list-inline-item fw-medium">
                    <i class='bx bx-pen'></i> Std 10
                  </li>
                  <li class="list-inline-item fw-medium">
                    <i class='bx bx-map'></i> Batch : Gold
                  </li>
                  <li class="list-inline-item fw-medium">
                    <i class='bx bx-calendar-alt'></i> Package : ALL
                  </li>
                </ul>
              </div>
              <a href="javascript:void(0)" class="btn btn-primary text-nowrap">
                <i class='bx bx-user-check me-1'></i>Update Information
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Header -->
  
  
  <!-- User Profile Content -->
  <div class="row">
    <div class="col-xl-4 col-lg-5 col-md-5">
      <!-- About User -->
      <div class="card mb-4">
        <div class="card-body">
          <p class="card-text text-uppercase">About</p>
          <ul class="list-unstyled mb-4">
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Full Name:</span> <span>John Doe</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Status:</span> <span>Active</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Role:</span> <span>Developer</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Country:</span> <span>USA</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Languages:</span> <span>English</span></li>
          </ul>
        </div>
      </div>
      <!--/ About User -->
      <!-- Profile Overview -->
      <div class="card mb-4">
        <div class="card-body">
          <p class="card-text text-uppercase">Overview</p>
          <ul class="list-unstyled mb-0">
            <li class="d-flex align-items-center mb-3"><button class="btn btn-primary">Report Card</button></li>
            <li class="d-flex align-items-center mb-3"><button class="btn btn-primary">Fees Payments</button></li>
          </ul>
        </div>
      </div>
      <!--/ Profile Overview -->
    </div>
    <div class="col-xl-8 col-lg-7 col-md-7">
      <!-- Study Points -->
      <div class="card card-action mb-4">
        <div class="card-header align-items-center">
          <h5 class="card-action-title mb-0"><i class='bx bx-list-ul bx-sm me-2'></i>Study Points</h5>
        </div>
        <div class="card-body">
          Study points
        </div>
      </div>
      <!-- =======study points======== -->

      
  <div class="card mb-4" id="top_students">
    <h5 class="card-header mb-2">Performance</h5>
        
    <div class="card-body">
      <div class="mb-4">
        <b>Overall Batch Performance in English : 70%</b>
      </div>
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Student Name</th>
              <th>Test Result</th>
              <th>Attendance Result</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr>
              <td><img src="/static/imgs/First-Ranker.png" class="me-2" style="width: 20px;" /> <span class="fw-medium">Vishal Sharma</span></td>
              <td>79%</td>
              <td>80%</td>
            </tr>
  
            <tr style="background-color: #1C222E;">
              <td><img src="/static/imgs/ranker.png" class="me-2" style="width: 20px;" /> <span class="fw-medium">Shivam Sharma</span></td>
              <td>75%</td>
              <td>86%</td>
            </tr>

            <tr>
              <td><img src="/static/imgs/ranker.png" class="me-2" style="width: 20px;" /> <span class="fw-medium">Anand Shah</span></td>
              <td>74%</td>
              <td>80%</td>
            </tr>

            <tr>
              <td><span class="fw-medium">Shivani Patel</span></td>
              <td>70%</td>
              <td>72%</td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>


    </div>
  </div>
    


  



{% endblock %}





 


          
