<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  
    <div class="app-brand demo ">
      <a href="/" class="app-brand-link">
        <span class="app-brand-logo demo">
        <img src="/static/imgs/My_dream_logo/4_nobg.png" style="width: 100%;"/>  
  
  </span>
        <span>        <img src="/static/imgs/My_dream_logo/2nobg.png" class="ms-2" style="width: 70%;"/>  
        </span>
      </a>
  
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
        <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
        <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
      </a>
    </div>
  
    
    <div class="menu-divider mt-0  ">
    </div>
  
    <div class="menu-inner-shadow"></div>
  
    
    
    <ul class="menu-inner py-1">
      <!-- Apps & Pages -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Educational Portal</span></li>
      <li class="menu-item {% if title == 'Home' %} active {% endif %}">
        <a href="/studentside/" class="menu-link">
          <i class="menu-icon tf-icons bx bx-envelope"></i>
          <div>Dashboard</div>
        </a>
      </li>
      
      <li class="menu-item {% if title == 'Tests' %} active {% endif %}">
        <a href="{% url 'Student_Test' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-solid fa-spell-check"></i>
          <div>Tests</div>
        </a>
      </li>
      <li class="menu-item {% if title == 'Materials' %} active {% endif %}">
        <a href="{% url 'Student_Materials' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-solid fa-book"></i>
          <div>Materials</div>
        </a>
      </li>

      <li class="menu-item {% if title == 'Timetable' %} active {% endif %}">
        <a href="{% url 'Student_Timetable' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-regular fa-calendar-days"></i>
          <div>Timetable</div>
        </a>
      </li>

      <li class="menu-item {% if title == 'Attendance' %} active {% endif %}">
        <a href="{% url 'Student_Attendence' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-solid fa-bolt"></i>
          <div>Attendance</div>
        </a>
      </li>

      <li class="menu-item {% if title == 'Syllabus' %} active {% endif %}">
        <a href="{% url 'Student_Syllabus' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-solid fa-clipboard-list"></i>
          <div>Syllabus</div>
        </a>
      </li>
      
      <li class="menu-item {% if title == 'Announcements' %} active {% endif %}">
        <a href="{% url 'Student_Announcement' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-solid fa-bullhorn"></i>
          <div>Announcements</div>
        </a>
      </li>

      <li class="menu-item {% if title == 'Doubts' %} active {% endif %}">
        <a href="{% url 'Student_Doubt' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-regular fa-circle-question"></i>
          <div>Doubt-Box</div>
        </a>
      </li>
      <li class="menu-item {% if title == 'Payments' %} active {% endif %}">
        <a href="{% url 'student_fees_collection' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-solid fa-hand-holding-dollar"></i>
          <div>Payments</div>
        </a>
      </li>
      <li class="menu-item {% if title == 'Report-Card' %} active {% endif %}">
        <a href="{% url 'student_analysis' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-solid fa-magnifying-glass-chart"></i>
          <div>Report Card</div>
        </a>
      </li>

      <li class="menu-item {% if title == 'Events' %} active {% endif %}">
        <a href="{% url 'Student_Event' %}" class="menu-link">
          <i class="menu-icon tf-icons fa-solid fa-cake-candles"></i>
          <div>Events</div>
        </a>
      </li>
    </ul>
    
  </aside>
  <!-- / Menu -->