{% extends 'studentpanel/master.html' %}

{% block contentsection %}
<div class="mb-4">
  <h4>Tests</h4>
</div>

{% include 'message_show.html' %}


    <div class="mt-2">
        <div class="row">
            {% for data in test_analysis_data %}
            <div class="col-md-3 d-flex align-items-stretch mb-4">
                <div class="card myborder w-100">
                    <div class="card-body">
                        <p><b>Test Name:</b> {{data.tau_test_id.test_name}}</p>
                        <p><b>Subject:</b> {{data.tau_test_id.test_sub}}</p>
                        <p class="card-text"><b>Total Marks:</b> {{data.tau_total_marks}}</p>
                        <p class="card-text"><b>Time Taken:</b> {{data.tau_completion_time}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}