myenv/
educational_portal/adminside/__pycache__/
educational_portal/studentside/__pycache__/
educational_portal/teacherside/__pycache__/
educational_portal/parentsside/__pycache__/
educational_portal/website/__pycache__/
educational_portal/team_ministudy/__pycache__/