<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
</head>
<body>
    <form action="{% url 'insert_event' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="eventname">EventName: 
            <input type="text" name="event_name">
        </label>
        <br>
        <label for="eventdate">Date: 
            <input type="date" name="event_date">
        </label>
        <br>
        <label for="eventimage">UploadImage: 
            <input type="file" name="event_img">
        </label>
        <br>
        <label for="eventdesc">
            <textarea name="event_desc" id="event_desc">Enter message here....</textarea>
        </label>
        <button type="submit">Submit</button>
    </form>
</body>
</html>