{% extends 'master.html' %}
 
{% block contentsection %}
  <div class="mb-4"><h4>Announcements</h4></div> 
  

{% for message in messages %}
 {{message|safe}}
{% endfor %}

    <h2 class="text-center">Faculty Access</h2> <br>
    <hr>
    
    <div class="container dropdown mx-2 mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {% if selected_standard %}
        {{ selected_standard }}
        {% else %}
        Select Standard
        {% endif %}
      </button>
      <ul class="dropdown-menu">
          {% for data in standard_data %}
          <li class="dropdown-item">
            <a href="{% url 'faculty_access' %}?get_std={{data.std_id}}" >{{ data }}</a> 
          </li>
          {% endfor %}
        </ul>
    </div>
    <br>
    <hr>

    <form action="{% url 'faculty_access' %}"  method="POST">
        {% csrf_token %}
        

        <select name="fa_faculty">
            {% for data in teachers_names %}
            <option value="{{data.fac_id}}">{{data.fac_name}}</option>
            {% endfor %}
        </select>
        
            
        <select name="fa_batch">
            {% for data in batch_data %}
            <option value="{{data.batch_id}}">{{data}}</option>
            {% endfor %}
        </select>

        <hr>
        <div class="container">
            <h5>Select Subjects</h5>
            {% for data in subject_data %}
            <ul class="list-group">
                <li class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" name="fa_subject" value="{{data.sub_id}}" id="subject_{{ forloop.counter }}">
                  <label class="form-check-label" for="subject_{{ forloop.counter }}">{{data}}</label>
                </li>
            </ul>
            {% endfor %}
        </div>
    
    <button type="submit" class="btn btn-warning mx-4">Submit</button>
    </form>


{% endblock %}