{% extends 'master.html' %}

{% block contentsection %}
<div class="mb-4">
  <h4>Payment Collections</h4>
</div>


{% include 'message_show.html' %}


<!-- --------------------------------------------------------------------------------------- -->
<div class="row">
  <div class="col-sm-12 col-lg-4 mb-4">
    <div class="card card-border-shadow-warning h-100">
      <div class="card-body">
        <div class="d-flex align-items-center mb-2 pb-1">
          <div class="avatar me-2">
            <span class="avatar-initial rounded bg-label-warning"><i class="fa-solid fa-sack-dollar"></i></span>
          </div>
          <h4 class="ms-1 mb-0"><i class="fa-solid fa-indian-rupee-sign"></i> {{total_fees_amount_after_discount}}</h4>
        </div>
        <p class="mb-1">Total Fees</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4 mb-4">
    <div class="card card-border-shadow-danger h-100">
      <div class="card-body">
        <div class="d-flex align-items-center mb-2 pb-1">
          <div class="avatar me-2">
            <span class="avatar-initial rounded bg-label-danger"><i class="fa-solid fa-circle-dollar-to-slot"></i></span>
          </div>
          <h4 class="ms-1 mb-0"><i class="fa-solid fa-indian-rupee-sign"></i> {{total_amount_fees_paid}}</h4>
        </div>
        <p class="mb-1">Paid Fees</p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-4 mb-4">
    <div class="card card-border-shadow-info h-100">
      <div class="card-body">
        <div class="d-flex align-items-center mb-2 pb-1">
          <div class="avatar me-2">
            <span class="avatar-initial rounded bg-label-info"><i class="fa-solid fa-hand-holding-dollar"></i></span>
          </div>
          <h4 class="ms-1 mb-0"><i class="fa-solid fa-indian-rupee-sign"></i> {{total_pending_fees}}</h4>
        </div>
        <p class="mb-1">Pending Fees</p>
      </div>
    </div>
  </div>
</div>
 <!-- =============================================================================================== -->
<!-- DataTable with Buttons -->

<div class="row mb-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="myheadfont">Student's Payment</div>
            <a href="{% url 'add_fees_collection_admin' %}?get_std={{get_std.std_id}}">
              <button class="btn btn-primary">
                <i class="fa-solid fa-plus me-2"></i> ADD
              </button>
            </a>
        </div>
<!-- ------------------------------filter option--------------------------------- -->
        
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
            <button class="btn btn-outline-primary btn-sm dropdown-toggle mt-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if get_std %}{{get_std.std_name}} {{get_std.std_board}}{% else %}Std{% endif %}</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'fees_collection_admin' %}">ALL</a></li>
              {% for x in std_data %}
              <li><a class="dropdown-item" href="{% url 'fees_collection_admin' %}?get_std={{x.std_id}}">{{x.std_name}} {{x.std_board}}</a></li>
              {% endfor %}
            </ul>
            <a href="{% url 'fees_collection_admin' %}?get_standard={{ get_std.std_id }}&model_name=fees_collection"><button  type="button" class="btn btn-outline-primary ms-2 mt-2"><i class="fa-solid fa-file-export"></i></button></a>
          </div>
          <form method="get" action="{% url 'fees_collection_admin' %}">
            <div class="input-group mt-2">
              <input type="text" id="" name="searchhh" class="form-control" style="padding: 2px;width: 100px !important;" placeholder="Search..." aria-label="Input group example" aria-describedby="btnGroupAddon">
              <input type="hidden" name="get_std" value="{{get_std.std_id}}" />
              <button id="searchButton" class="input-group-text" id="btnGroupAddon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </form>
</div>
 <!-- ----------------------endfilter option------------------------------------------  -->
          <div class="card-datatable table-responsive pt-0">
            <table id="data-table" class="display table table-bordered" style="width:100%;">
              <thead>
                <tr>
                  <th>Student's Standard</th>
                  <th>Student's Name</th>
                  <th>Total Payable Amount</th>
                  <th>Discount Fees</th>
                  <th>Amount Paid</th>
                  <th>Remaining Amount</th>
                  <!-- <th>Delete</th> -->
              </tr>
              </thead>
              <tbody>
                {% for x in students_data %}
                  <tr>
                        <td>{{x.stud_std__std_name}} {{x.stud_std__std_board__brd_name}}</td>
                        <td>{{x.stud_name}} {{x.stud_lastname}}</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> {{x.stud_pack__pack_fees}}</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> {% if x.discountt %}{{x.discountt}}{% else %}0{% endif %}</td>
                        <td><i class="fa-solid fa-indian-rupee-sign"></i> {% if x.amount_paid %}{{x.amount_paid}}{% else %}0{% endif %}</td>
                        <td id="remaining{{ x.stud_id }}"></td>       
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Pagination -->

          <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              {% for x in students_data.paginator.page_range %}
              <a href="?page={{x}}&get_std={{get_std.std_id}}&searchhh={{searchhh}}"><button type="button" class="btn btn-sm btn-outline-secondary mt-3 ms-1{% if students_data.number == x %} btn-outline-primary{% endif %}">{{x}}</button></a>
              {% endfor %}
            </div>
          </div>


            <a href="{% url 'payments_history_admin' %}" class='btn btn-primary mt-3'>View Payments</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-4 mb-4">
    <div class="card card-border-shadow-danger h-100">
      <div class="card-body">
        <div class="d-flex align-items-center mb-2 pb-1">
          <div class="avatar me-2">
            <span class="avatar-initial rounded bg-label-danger"><i class="fa-solid fa-circle-dollar-to-slot"></i></span>
          </div>
          <h4 class="ms-1 mb-0"><i class="fa-solid fa-indian-rupee-sign"></i> {{total_cheque_amount_paid}}</h4>
        </div>
        <p class="mb-1">Total Cheque Collections</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-12 col-lg-4 mb-4">
    <div class="card card-border-shadow-info h-100">
      <div class="card-body">
        <div class="d-flex align-items-center mb-2 pb-1">
          <div class="avatar me-2">
            <span class="avatar-initial rounded bg-label-info"><i class="fa-solid fa-hand-holding-dollar"></i></span>
          </div>
          <h4 class="ms-1 mb-0"><i class="fa-solid fa-indian-rupee-sign"></i> {{final_pending_fees_after_cheque_amount}}</h4>
        </div>
        <p class="mb-1">Final Pending Fees</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="myheadfont">Pending Cheques</div>
          <div>
            <div class="d-inline-block" id="exportbtns2"></div>

            <a href="{% url 'add_cheques_admin' %}?get_std={{get_std.std_id}}">
              <button class="btn btn-primary">
                <i class="fa-solid fa-plus me-2"></i> ADD
              </button>
            </a>
          </div>
        </div>
          <div class="card-datatable table-responsive pt-0 mt-3">
            <table id="example2" class="display table table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Student's Name</th>
                  <th>Cheque Number</th>
                  <th>Cheque Amount</th>
                  <th>Bank Name</th>
                  <th>Cheque Date</th>
                  <th>Expiry Date</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                {% for x in cheque_collections_data %}
                <tr>
                  <td>{{x.cheque_stud_id}}</td>
                  <td>{{x.cheque_number}}</td>
                  <td><i class="fa-solid fa-indian-rupee-sign"></i> {{x.cheque_amount}}</td>
                  <td>{{x.cheque_bank}}</td>
                  <td>{{x.cheque_date}}</td>
                  <td>{{x.cheque_expiry}}</td>                 
                  <td><a href="{% url 'add_cheques_admin' %}?pk={{x.cheque_id}}">Edit</a></td>                 
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>

<!--/ DataTable with Buttons -->




<script>
  document.addEventListener('DOMContentLoaded', function() {
      {% for x in students_data %}
      // Retrieve values from the template
      var packFees = parseFloat('{{ x.stud_pack__pack_fees|default:0|escapejs }}');
      var discount = parseFloat('{{ x.discountt|default:0|escapejs }}');
      var amountPaid = parseFloat('{{ x.amount_paid|default:0|escapejs }}');

      // Calculate remaining amount
      var remaining = packFees - discount - amountPaid;

      // Update the corresponding table cell
      document.getElementById('remaining{{ x.stud_id }}').innerHTML = '<i class="fa-solid fa-indian-rupee-sign"></i> ' + remaining.toFixed(2);
      {% endfor %}
  });
</script>


{% endblock %}