
<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-center py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0 justify-content-center align-items-center">
        © <script>document.write(new Date().getFullYear())</script>, made with ❤️ by <a href="#" target="_blank" class="footer-link fw-medium"><img src="/static/imgs/My_dream_logo/2nobg.png" class="footerlogo"/></a>
      </div>
      <script>
				window.onload = function() {
				  // Calculate the time since the page started loading
				  const pageLoadTime = performance.now();
				  
				  // Log the page load time in milliseconds
				  console.log(`Page fully loaded in ${pageLoadTime.toFixed(2)} milliseconds`);
			  
				  // Alternatively, display it on the page (optional)
				  const timeDisplay = document.getElementById('time_taken')
				  timeDisplay.textContent = `Page fully loaded in ${pageLoadTime.toFixed(2)} milliseconds`;
				};
			  </script>
			  <div id="time_taken"></div>
      
    </div>
  </footer>
  <!-- / Footer -->