{% extends 'master.html' %}

{% block contentsection %}

{% include 'message_show.html' %}
<div class="mb-4">
  <!-- <h4>{{title}}</h4> -->
</div>

<!-- <a href="{% url 'show_complaints' %}" 
   class="btn mb-3" 
   style="background: linear-gradient(90deg, #4A90E2, #007AFF, #005BBB); 
          border: none; 
          color: white; 
          padding: 8px 18px; 
          font-size: 14px; 
          font-weight: bold; 
          text-transform: uppercase; 
          border-radius: 8px; 
          transition: background 0.3s ease, transform 0.3s ease;"
   onmouseover="this.style.background='linear-gradient(90deg, #357ABD, #0066CC, #004999)'; this.style.transform='scale(1.05)';" 
   onmouseout="this.style.background='linear-gradient(90deg, #4A90E2, #007AFF, #005BBB)'; this.style.transform='scale(1)';">
   Show Complaints
</a> -->
<!-- notifications
,Complaints,
Expenses,
payments,
Faculty Access,
Reports,
Tests,
Admin,
Total Admissions, -->

<div class="mb-3">
  <div class="d-flex flex-wrap justify-content-start gap-3 gap-md-4">
    <div class="card p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Complaints">
      <img src="/static/imgs/shortcuts/dislike.png" class="shortcutIcons"/>
    </div>
    <div class="card p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reports">
      <img src="/static/imgs/shortcuts/statistics.png" class="shortcutIcons">
    </div>
    <div class="card p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Faculty Access">
      <img src="/static/imgs/shortcuts/secure-access.png" class="shortcutIcons">
    </div>
    <div class="card p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Payments">
      <img src="/static/imgs/shortcuts/money-bag.png" class="shortcutIcons">
    </div>
    <div class="card p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Expenses">
      <img src="/static/imgs/shortcuts/spending.png" class="shortcutIcons">
    </div>
    <div class="card p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications">
      <img src="/static/imgs/shortcuts/notification.png" class="shortcutIcons">
    </div>
    <div class="card p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tests">
      <img src="/static/imgs/shortcuts/exam-time.png" class="shortcutIcons">
    </div>
    <div class="card p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Admin">
      <img src="/static/imgs/shortcuts/user-gear.png" class="shortcutIcons">
    </div>
  </div>
</div>

<style>
  .shortcutIcons {
    max-width: 50px;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .shortcutIcons {
      max-width: 30px;
    }
  }
</style>


<div class="row">
  <div class=" col-6 col-xs-6 col-sm-6 col-md-3 mb-4">
    <a href="{% url 'students_dataAdmin' %}">
      <div class="card card-border-shadow-info">
        <div class="card-body dashboardcardaddon1" >
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center gap-3">
              <div class="avatar">
                <span class="avatar-initial bg-label-info rounded-circle"><i class="tf-icons fa-solid fa-graduation-cap fs-5"></i></span>
              </div>
              <div class="card-info">
                <h5 class="card-title mb-0 me-2">Student</h5>
                <small class="dashboardmutedtext text-muted">View</small>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-6 col-sm-6 col-md-3 mb-4">
    <a href="{% url 'fees_collection_admin' %}">
    <div class="card card-border-shadow-success">
      <div class="card-body dashboardcardaddon1">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center gap-3">
            <div class="avatar">
              <span class="avatar-initial bg-label-success rounded-circle"><i class="tf-icons fa-solid fa-hand-holding-dollar fs-5"></i></span>
            </div>
            <div class="card-info">
              <h5 class="card-title mb-0 me-2">Payment</h5>
              <small class="dashboardmutedtext text-muted">Report</small>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </a>
  </div>

  <div class="col-6 col-sm-6 col-md-3 mb-4">
    <a href="{% url 'admin_packages' %}">
    <div class="card card-border-shadow-warning">
      <div class="card-body dashboardcardaddon1">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center gap-3">
            <div class="avatar">
              <span class="avatar-initial bg-label-warning rounded-circle"><i class="tf-icons fa-brands fa-gg fs-5"></i></span>
            </div>
            <div class="card-info">
              <h5 class="card-title mb-0 me-2">Package</h5>
              <small class="dashboardmutedtext text-muted">View</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  </div>

  <div class="col-6 col-sm-6 col-md-3 mb-4">
    <a href="{% url 'admin_timetable' %}">
    <div class="card card-border-shadow-warning">
      <div class="card-body dashboardcardaddon1">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center gap-3">
            <div class="avatar">
              <span class="avatar-initial bg-label-warning rounded-circle"><i class="tf-icons fa-solid fa-clock fs-5"></i></span>
            </div>
            <div class="card-info">
              <h5 class="card-title mb-0 me-2">Timetable</h5>
              <small class="dashboardmutedtext text-muted">View</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  </div>
</div>


<div class="row">
  <div class="col-6 col-lg-3 mb-4">
    <a href="{% url 'inquiry_data' %}">
    <div class="card card-border-shadow-primary">
      <div class="card-body dashboardcardaddon1">
        <div class="d-flex align-items-center">
          <div class="avatar me-2">
            <span class="avatar-initial rounded bg-label-primary rounded-circle"><i class="tf-icons fa-solid fa-clipboard-question fs-5"></i></span>
          </div>
          <div class="card-info">
          <h5 class="card-title ms-1 mb-0">Leads</h5>
          </div>
        </div>        
      </div>
    </div>
  </a>
  </div>
  <div class="col-6 col-lg-3 mb-4">
    <a href="{% url 'admin_attendance' %}">
    <div class="card card-border-shadow-danger">
      <div class="card-body dashboardcardaddon1">
        <div class="d-flex align-items-center">
          <div class="avatar me-2">
            <span class="avatar-initial rounded bg-label-danger rounded-circle"><i class="fa-brands fa-battle-net fs-5"></i></span>
          </div>
          <h5 class="card-title ms-1 mb-0">Attendance</h5>
        </div>
       
      </div>
    </div>
  </a>
  </div>

  <div class="col-6 col-lg-3 mb-4">
    <a href="{% url 'adminside_report_card' %}">
      <div class="card card-border-shadow-success">
        <div class="card-body dashboardcardaddon1">
          <div class="d-flex align-items-center">
            <div class="avatar me-2">
              <span class="avatar-initial rounded bg-label-success rounded-circle"><i class="tf-icons fa-solid fa-magnifying-glass-chart fs-5"></i></span>
            </div>
            <h5 class="card-title ms-1 mb-0">Report-Card</h5>
          </div>
        
        </div>
      </div>
    </a>
  </div>
  <div class="col-6 col-lg-3 mb-4">
    <a href="{% url 'admin_faculties' %}">
    <div class="card card-border-shadow-info">
      <div class="card-body dashboardcardaddon1">
        <div class="d-flex align-items-center">
          <div class="avatar me-2">
            <span class="avatar-initial rounded bg-label-info rounded-circle"><i class="tf-icons fa-solid fa-user-check fs-5"></i></span>
          </div>
          <h5 class="card-title ms-1 mb-0">Faculties</h5>
        </div>
       
      </div>
    </div>
  </a>
  </div>
</div>




<div class="row mb-4">
<div class="col-md-12">
<div class="card" id="top_students">
  <h5 class="card-header mb-2">Performance</h5>

  <div class="card-body mt-3">
    <div class="btn-group mb-3">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if get_std %}{{get_std.std_name}} {{get_std.std_board}}{% else %}Std{% endif %}</button> <ul class="dropdown-menu">
        {% for x in std_data %}
        <li><a class="dropdown-item" href="{% url 'Admin Home' %}?get_std={{x.std_id}}">{{x.std_name}} {{x.std_board}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="btn-group mb-3 ms-3">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if get_subject %}{{get_subject.sub_name}}{% else %}Subject{% endif %}</button>
      <ul class="dropdown-menu">
        {% for x in subject_data %}
        <li><a class="dropdown-item" href="{% url 'Admin Home' %}?get_std={{get_std.std_id}}&get_subject={{x.sub_id}}">
          {{x.sub_name}}
        </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="table-responsive text-nowrap">
      <table class="table table-bordered">
        {% if get_std %}
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Test Result</th>
            <th>Attendance Result</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for x in overall_attendance_li %}
          {% if forloop.counter == 1 %}
          <tr>
            <td><img src="/static/imgs/medal (3).png" class="me-2" style="width: 25px;" /> <span
            class="fw-medium">{{x.stud_name}} {{ x.stud_lastname }}</span></td>
            <td>{{x.overall_result}} %</td>
            <td>{{x.overall_attendance_studentwise}} %</td>
          </tr>
          {% elif forloop.counter == 2 %}
          <tr>
            <td><img src="/static/imgs/medal (4).png" class="me-2" style="width: 25px;" /> <span
            class="fw-medium">{{x.stud_name}} {{ x.stud_lastname }}</span></td>
            <td>{{x.overall_result}} %</td>
            <td>{{x.overall_attendance_studentwise}} %</td>
          </tr>
          {% elif forloop.counter == 3 %}
          <tr>
            <td><img src="/static/imgs/medal (5).png" class="me-2" style="width: 25px;" /> <span
            class="fw-medium">{{x.stud_name}} {{ x.stud_lastname }}</span></td>
            <td>{{x.overall_result}} %</td>
            <td>{{x.overall_attendance_studentwise}} %</td>
          </tr>
          {% else %}
          <tr>
            <td><img src="/static/imgs/hand2.png" class="me-2" style="width: 25px;" /> <span
            class="fw-medium">{{x.stud_name}} {{ x.stud_lastname }}</span></td>
            <td>{{x.overall_result}} %</td>
            <td>{{x.overall_attendance_studentwise}} %</td>
          </tr>
          {% endif %}
          {% endfor %}
          {% else %}
          {{msg}}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>



<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card h-100">
      
      <div class="card-body">
        <!-- <span class="d-block mb-2">Stdwise Students and Test Data</span> -->
        <div class="table-responsive">
          <div id="students_chart"></div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card h-100">
      
      <div class="card-body d-flex justify-content-center align-items-center">
        <div id="students_male_female_ratio" class="malefemalegraph"></div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card h-100">
      
        
      
      <div class="card-body d-flex justify-content-center align-items-center">
        <div class="table-responsive" style="width: 100% !important;">
        <div id="students_chart_test"></div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  
  <div class="col-md-3">
    <div class="card">
    <div class="text-center ">
      <img src="/static/imgs/uploadexeldesign3.png" class="w-60" >
    </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card p-3">
        <div class="card">
          <div class="card-body p-2">
          Total Leads : {{total_inquiries}}
        </div>
      </div>
      
      
        <div class="card mt-3">
          <div class="card-body p-2">
          Total Conversions : {{total_conversion}}
        </div>
        </div>
    
    
    <div class="progress mt-3">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{conversion}}%" aria-valuenow="{{conversion}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    </div>
  </div>
</div>
  


{% endblock %}