<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Send</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" action="{% url 'institute_main_send' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="excelFile" class="form-label">Upload Excel File</label>
            <input type="file" name="excel_file" class="form-control" id="excelFile" accept=".xlsx, .xls" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</body>
</html>