<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Receipt</title>
    <style>
        .logo{text-align: center;margin-bottom: 25px;}
        body{font-size: 16px;}
        table,th,td{border: 1px solid black;padding: 0;}
        th,td{padding: 5px;}
        table{box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;border-radius: 20px;}
    </style>
</head>
<body>
    <div class="logo">
        <img src="https://metrofoods.co.nz/3%20-%20Copy.png" width="100px" />
    </div>
    
    <table>
        <tr>
        <td>Receipt No : A01-2024</td>
        <td style="text-align: right;">Date: 05-05-2024</td>
        </tr>
        <tr>
            <td colspan="2">Towards : Tution Fees(English & Social Science)</td>
        </tr>
        <tr>
            <td colspan="2">
                Name : Trushal Maheshbhai Patel<br>
                Roll No : 81<br>
                Contact : +91 8511962611<br>
                Email : mail.trushalpatelgmail.com<br>
            </td>
        </tr>
        <tr>
           <td>Amount : <b>2000 Rs</b></td>
           <td>Payment Mode : Cash</td> 
        </tr>
        <tr>
            <td style="text-align: center;">
                <img src="https://metrofoods.co.nz/pngwing.com.png" width="100px"/><br>
                Authorised Signature
            </td>
            <td style="text-align: center;">MiniStudy<br>mail@ministudy.in<br>+91 8511962611</td>
        </tr>
    </table>
    <div style="font-size: 12px;margin-top: 5px;">*This is System generated E-Receipt</div>
    

</body>
</html>