{% extends 'master.html' %}
 
{% block contentsection %}
  <div class="mb-4"><h4>Materials</h4></div> 
  

{% include 'message_show.html' %}

<div class="d-flex flex-wrap justify-content-start gap-3 gap-md-4">
<div class="card p-3 materialgroup">
        <a href=""><img src="/static/imgs/folder (1).png" class="Materialsfolders" /></a>
        <span class="mt-2">Maths Std 10 <a href=""><img src="/static/imgs/shortcuts/delete.png" style="width: 20px;" /></a></span>
</div>
</div>




{% endblock %}