{% extends 'master.html' %}


{% block contentsection %}
<div class="mb-4">
    <h4>Materials</h4>
</div>

{% for message in messages %}
{{message|safe}}
{% endfor %}
<!-- DataTable with Buttons -->

<div class="card">
    <div class="card-body">
        <div class="btn-group">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">{% if selected_std %}{{selected_std}}{% else %}Standard{% endif %}</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'admin_materials' %}">ALL</a></li>
                {% for data in standard_data %}
                <li><a class="dropdown-item"
                        href="{% url 'admin_materials' %}?std_id={{data.std_id}}">{{data}}</a>
                </li>
                {% endfor %}
            </ul>

            <button class="btn btn-primary btn-sm dropdown-toggle ms-2" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">{% if selected_sub %}{{selected_sub.sub_name}}{% else %}Subjects{% endif %}</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'admin_materials' %}?std_id={{selected_std.std_id}}">ALL</a></li>
                {% for data in subjects_data %}
                <li><a class="dropdown-item"
                        href="{% url 'admin_materials' %}?std_id={{data.sub_std.std_id}}&sub_id={{data.sub_id}}">{{data}}</a>
                </li>
                {% endfor %}
            </ul>

        </div>

    </div>
</div>

<br><br>

{% if selected_sub %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item" style="border-bottom:1px solid grey;">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#abcd{{selected_sub.sub_id}}" aria-expanded="false"
                aria-controls="abcd{{selected_sub.sub_id}}">
                {{selected_sub}}
            </button>
        </h2>
        <div id="abcd{{selected_sub.sub_id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    {% if materials %}
                    {% for mat in materials %}
                    {% if selected_sub.sub_name == mat.cm_chepter.chep_sub.sub_name %}

                    <div class="col-md-2 mb-3">
                        <a href="/media/{{mat.cm_file}}">
                            <div class="card" style="height: 150px;">
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    {{mat.cm_filename}} - {{mat.cm_chepter.chep_sub.sub_name}}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <span>No materials uploaded!</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="accordion" id="accordionExample">
    {% for data in subjects_data %}
    <div class="accordion-item" style="border-bottom:1px solid grey;">
        <h2 class="accordion-header">
            <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#abcd{{data.sub_id}}" aria-expanded="false" aria-controls="abcd{{data.sub_id}}">
                {{data}}
            </button>
        </h2>
        <div id="abcd{{data.sub_id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    {% for mat in materials %}
                    {% if data.sub_name == mat.cm_chepter.chep_sub.sub_name %}
                    <div class="col-md-2 mb-3">
                        <a href="/media/{{mat.cm_file}}">
                            <div class="card"
                                style="height: 150px; border:1px solid #88a9e6; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    {{mat.cm_filename}} - {{mat.cm_chepter.chep_sub.sub_name}}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}