{% extends 'master.html' %}

{% block contentsection %}
<div class="mb-4"><h4>Students</h4></div>

{% include 'message_show.html' %}


<!-- DataTable with Buttons -->
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div class="myheadfont">{{ title }} Data</div>
      <div>
        <div class="d-inline-block" id="exportbtns"></div>
        <a href="{% url 'insert_update_students' %}?get_std={{ get_std.std_id }}">
          <button class="btn btn-primary">
            <i class="fa-solid fa-plus me-2"></i> ADD
          </button>
        </a>
      </div>
    </div>

    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button class="btn btn-outline-primary btn-sm dropdown-toggle mt-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {% if get_std %}{{ get_std.std_name }} {{ get_std.std_board }}{% else %}Std{% endif %}
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'students_dataAdmin' %}">ALL</a></li>
          {% for x in std_data %}
          <li><a class="dropdown-item" href="{% url 'students_dataAdmin' %}?get_std={{ x.std_id }}">{{ x.std_name }} {{ x.std_board }}</a></li>
          {% endfor %}
        </ul>


        <button class="btn btn-outline-primary btn-sm dropdown-toggle ms-2 mt-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {% if get_batch %}{{ get_batch.batch_name }}{% else %}Batchs{% endif %}
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'students_dataAdmin' %}?get_std={{ get_std.std_id }}">ALL</a></li>
          {% for x in batch_data %}
          <li><a class="dropdown-item" href="{% url 'students_dataAdmin' %}?get_std={{ x.batch_std.std_id }}&get_batch={{ x.batch_id }}">{{ x }}</a></li>
          {% endfor %}
        </ul>
        <a href="{% url 'export_data' %}?get_std={{ get_std.std_id }}&get_batch={{ get_batch.batch_id }}&model_name=Students"><button  type="button" class="btn btn-outline-primary ms-2 mt-2"><i class="fa-solid fa-file-export"></i></button></a>
      </div>
      <form method="get" action="{% url 'students_dataAdmin' %}">
        <div class="input-group mt-2">
          <input type="text" id="" name="searchhh" class="form-control searchbtnnn" style="padding: 2px;width: 100px !important;" placeholder="Search..." aria-label="Input group example" aria-describedby="btnGroupAddon">
          <input type="hidden" name="get_std" value="{{get_std.std_id}}" />
          <input type="hidden" name="get_batch" value="{{get_batch.batch_id}}" />
          <button id="searchButton" class="input-group-text" id="btnGroupAddon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </form>
    </div>
    

    <form action="{% url 'delete_students' %}" method="POST">
      {% csrf_token %}
      <div class="card-datatable table-responsive pt-0">
        <table id="data-table" class="display table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th><input type="checkbox" class="form-check-input" name="selectionall" /></th>
              <th>Name</th>
              <th>Username</th>
              <th>Contact</th>
              <th>Email</th>
              <th>DOB</th>
              <th>Gender</th>
              <th>Standard</th>
              <th>Batch</th>
              <th>Pack</th>
              <th>Guardian Name</th>
              <th>Guardian Number</th>
              <th>Guardian Email</th>
              <th>Guardian Profession</th>
              <th>Address</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            {% for data in data %}
            <tr>
              <td><input type="checkbox" class="form-check-input" value="{{ data.stud_id }}" name="selection" /></td>
              <td>{{ data.stud_name }} {{ data.stud_lastname }}</td>
              <td>{{ data.stud_username }}</td>
              <td>{{ data.stud_contact }}</td>
              <td>{{ data.stud_email }}</td>
              <td>{{ data.stud_dob }}</td>
              <td>{{ data.stud_gender }}</td>
              <td>{{ data.stud_std__std_name }} {{ data.stud_std__std_board__brd_name }}</td>
              <td>{{ data.stud_batch__batch_name }}</td>
              <td>{{ data.stud_pack__pack_name }}</td>
              <td>{{ data.stud_guardian_name }}</td>
              <td>{{ data.stud_guardian_number }}</td>
              <td>{{ data.stud_guardian_email }}</td>
              <td>{{ data.stud_guardian_profession }}</td>
              <td>{{ data.stud_address }}</td>
              <td><a href="{% url 'insert_update_students' %}?pk={{ data.stud_id }}"><i class="fa-solid fa-pen-to-square me-2"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      
  
      
      <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2 flex-wrap" role="group" aria-label="First group">
          {% for x in data.paginator.page_range %}
          <a href="?page={{x}}&get_std={{get_std.std_id}}&get_batch={{get_batch.batch_id}}&searchhh={{searchhh}}"><button type="button" class="btn btn-sm btn-outline-secondary mt-3 ms-1{% if data.number == x %} btn-outline-primary{% endif %}">{{x}}</button></a>
          {% endfor %}
        </div>
      </div>

      <!-- Confirm Delete Modal -->
      <div class="modal fade" id="confirmdeletemodel" tabindex="-1" aria-labelledby="confirmdeletemodelLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmdeletemodelLabel"><i class="fa-solid fa-trash me-2"></i> Confirm Delete</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this data ..?<br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i> Delete</button>
            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-primary" style="position: fixed;bottom: 20px;right: 20px;" id="selected" name="delbtn" data-bs-toggle="modal" data-bs-target="#confirmdeletemodel"><i class="fa-solid fa-trash me-2"></i> Delete</button>
    </form>
  </div>
</div>

{% endblock %}
