{% extends 'master.html' %}
 
{% block contentsection %}
  <div class="mb-4"><h4>Events</h4></div> 
  

{% for message in messages %}
 {{message|safe}}
{% endfor %}
<!-- DataTable with Buttons -->

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
                <div class="myheadfont">{{title}}</div>   
                <a href="{% url 'insert_event' %}">
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-plus me-2"></i> ADD
                    </button>
                </a>
        </div>
    </div>
</div>


<div class="row mt-3">
  {% for x in events %}
  
  <div class="col-md-2">
    <a href="{% url 'show_events' %}?event_id={{x.event_id}}">
    <div class="card">
      <div class="card-body">
          {{x.event_name}}
      </div>
    </div>
    </a>
  </div>
  {% endfor %}
</div>




<form action="{% url 'delete_announcements' %}" method="POST"> 
  {% csrf_token %}

    {% for x in selected_events %}
    <div class="card p-4 mt-3">
      
      <!-- <h5 class="d-flex align-items-center">
        <input type="checkbox" class="form-check-input me-3" value="{{x.announce_id}}" name="selection" id="item{{x.announce_id}}"/><label for="item{{x.announce_id}}"><a href="{% url 'insert_update_announcements' %}?pk={{x.announce_id}}">{{x.announce_title}}</a></label>
      </h5> -->
          
          <b style="font-size: 18px;" class="mb-2">{{x.event_name}}</b>
          <div class="mb-2">{{x.event_desc}}</div>
          <small>{{x.event_date}}</small>
          <hr/>
          <div class="row">
          {% for imgs in events_imgs %}
            {% if imgs.event.event_id == x.event_id  %}
            <div class="col-md-2 mt-4" >
            <a href="/media/uploads/events/{{imgs.event_img}}"><img src="/media/uploads/events/{{imgs.event_img}}" style="width: 100%;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;"/></a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
    {% endfor %}

  


<!-- Modal -->
<div class="modal fade" id="confirmdeletemodel" tabindex="-1" aria-labelledby="confirmdeletemodelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmdeletemodelLabel"><i class="fa-solid fa-trash me-2"></i> Confirm Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this data ..?<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i> Delete</button>
      </div>
    </div>
  </div>
</div>


<button type="button" class="btn btn-primary" style="position: fixed;bottom: 20px;right: 20px;" id="selected" name="delbtn" data-bs-toggle="modal" data-bs-target="#confirmdeletemodel"><i class="fa-solid fa-trash me-2"></i> Delete</button>
</form>


{% endblock %}