{% extends 'master.html' %}
 
{% block contentsection %}
  <div class="mb-4"><h4>Batches</h4></div> 
  

{% include 'message_show.html' %}
<!-- DataTable with Buttons -->
<div class="card">
    
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="myheadfont">{{title}} Data</div>
        <div>
          <div class="d-inline-block" id="exportbtns"></div>

        <a href="{% url 'insert_update_batches' %}?get_std={{get_std.std_id}}">
            <button class="btn btn-primary">
                <i class="fa-solid fa-plus me-2"></i> ADD
            </button>
        </a>
        
      </div>
        
</div>

<!-- =========================filter option============================= -->
<br>
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
            <button class="btn btn-outline-primary btn-sm dropdown-toggle mt-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if get_std %}{{get_std.std_name}} {{get_std.std_board}}{% else %}Std{% endif %}</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'admin_batches' %}">ALL</a></li>
              {% for x in std_data %}
              <li><a class="dropdown-item" href="{% url 'admin_batches' %}?get_std={{x.std_id}}">{{x.std_name}} {{x.std_board}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
<!-- =========================filter option end=================================== -->

    <form action="{% url 'delete_batches' %}" method="POST"> 
    {% csrf_token %}        
    <div class="card-datatable table-responsive pt-0">
        <table id="example" class="display table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th><input type="checkbox" class="form-check-input" name="selectionall" /></th>
                    <th>Batch Name</th>
                    <th>Standard</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data %}
                <tr>
                    <td><input type="checkbox" class="form-check-input" value="{{data.batch_id}}" name="selection" /></td>
                    <td>{{data.batch_name}}</td>
                    <td>{{data.batch_std}}</td>
                    <td><a href="{% url 'insert_update_batches' %}?pk={{data.batch_id}}"><i class="fa-solid fa-pen-to-square me-2"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
  <!-- Modal -->
  <div class="modal fade" id="confirmdeletemodel" tabindex="-1" aria-labelledby="confirmdeletemodelLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmdeletemodelLabel"><i class="fa-solid fa-trash me-2"></i> Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this data ..?<br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i> Delete</button>
        </div>
      </div>
    </div>
  </div>


    <!-- Pagination -->
  

    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2 flex-wrap" role="group" aria-label="First group">
        {% for x in data.paginator.page_range %}
        <a href="?page={{x}}&get_std={{get_std.std_id}}"><button type="button" class="btn btn-sm btn-outline-secondary mt-3 ms-1{% if data.number == x %} btn-outline-primary{% endif %}">{{x}}</button></a>
        {% endfor %}
      </div>
    </div>
    
  <button type="button" class="btn btn-primary" style="position: fixed;bottom: 20px;right: 20px;" id="selected" name="delbtn" data-bs-toggle="modal" data-bs-target="#confirmdeletemodel"><i class="fa-solid fa-trash me-2"></i> Delete</button>

    </form>
    </div>
    </div>
{% endblock %}