{% extends 'master.html' %}

{% block contentsection %}
  <div class="mb-4"><h4>Faculties</h4></div> 

{% for message in messages %}
 {{ message|safe }}
{% endfor %}

<!-- DataTable with Buttons -->
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div class="myheadfont">{{ title }} Data</div>   
            <a href="{% url 'insert_update_faculties' %}">
                <button class="btn btn-primary">
                    <i class="fa-solid fa-plus me-2"></i> ADD
                </button>
            </a>
        </div>
        <br>
        <form action="{% url 'delete_faculties' %}" method="POST"> 
            {% csrf_token %}        
            <div class="card-datatable table-responsive pt-0">
                <table id="example" class="display table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th><input type="checkbox" class="form-check-input" name="selectionall" /></th>
                            <th>Faculty Name</th>
                            <th>Number</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Subject</th>
                            <th>Access</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in faculty_data %}
                        <tr>
                            <td><input type="checkbox" class="form-check-input" value="{{ x.fac_id }}" name="selection" /></td>
                            <td>{{ x.fac_name }}</td>
                            <td>{{ x.fac_number }}</td>
                            <td>{{ x.fac_email }}</td>
                            <td>{{ x.fac_address }}</td>
                            <td>{{ x.Subjects }}</td>
                            <td>{% for y in faculty_access_data %}
                                {% if x.fac_id == y.fa_faculty.fac_id %}
                                -> {{y.fa_batch}}
                                {{y.fa_subject.sub_name}}<br>
                                {% endif %}
                                {% endfor %}</td>
                            <td><a href="{% url 'insert_update_faculties' %}?pk={{ x.fac_id }}"><i class="fa-solid fa-pen-to-square me-2"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>  

            <!-- Modal -->
            <div class="modal fade" id="confirmdeletemodel" tabindex="-1" aria-labelledby="confirmdeletemodelLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmdeletemodelLabel"><i class="fa-solid fa-trash me-2"></i> Confirm Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this data ..?<br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <button type="button" class="btn btn-primary" style="position: fixed;bottom: 20px;right: 20px;" id="selected" name="delbtn" data-bs-toggle="modal" data-bs-target="#confirmdeletemodel"><i class="fa-solid fa-trash me-2"></i> Delete</button>
        </form>
    </div>
</div>
<!--/ DataTable with Buttons -->
{% endblock %}
