{% extends 'master.html' %}

{% block contentsection %}
  <div class="mb-4"><h4>Faculties</h4></div> 

{% for message in messages %}
 {{ message|safe }}
{% endfor %}

<!-- DataTable with Buttons -->
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div class="myheadfont">{{ title }} Data</div>   
            <a href="{% url 'faculty_access' %}">
                <button class="btn btn-primary">
                    <i class="fa-solid fa-plus me-2"></i> ADD
                </button>
            </a>
        </div>
        <br>

        
        

        <form action="{% url 'delete_faculties' %}" method="POST"> 
            {% csrf_token %}        
            <div class="card-datatable table-responsive pt-0">
                <table id="data-table" class="display table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Faculty Name</th>
                            <th>Access</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                           <td>{{ faculty_data.fac_name }}</td>

                            <td>{% for fac_access in faculty_access_data %}
                                <div class="row d-flex justify-content-between">
                                    <div class="col-10">{{fac_access.fa_batch}} {{fac_access.fa_subject.sub_name}}<hr/>
                                    </div> 
                                    <div class="col-2">
                                        <a href="{% url 'delete_faculty_access' %}?fac_access_id={{ fac_access.fa_id }}&fac_id={{faculty_data.fac_id}}">
                                            <i class="fa-solid fa-trash"></i>
                                        </a><hr/>
                                    </div>
                                </div>
                                {% endfor %}
                            </td>
                            
                        </tr>
                      
                    </tbody>
                </table>
                 <!-- Pagination -->
                        {% for x in faculties.paginator.page_range %}
                        <a href="?page={{x}}" class="btn btn-sm btn-outline-secondary mt-3 ms-1 {% if data.number == x %} btn-outline-primary {% endif %} mt-3">{{ x }}</a>
                        {% endfor %}
                </div>
            </div>  
            <!-- Modal -->
            <div class="modal fade" id="confirmdeletemodel" tabindex="-1" aria-labelledby="confirmdeletemodelLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmdeletemodelLabel"><i class="fa-solid fa-trash me-2"></i> Confirm Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this data ..?<br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <button type="button" class="btn btn-primary" style="position: fixed;bottom: 20px;right: 20px;" id="selected" name="delbtn" data-bs-toggle="modal" data-bs-target="#confirmdeletemodel"><i class="fa-solid fa-trash me-2"></i> Delete</button>
        </form>
    </div>
</div>
<!--/ DataTable with Buttons -->
{% endblock %}
