/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.light-style .menu .app-brand.demo {
  height: 64px;
}

.dark-style .menu .app-brand.demo {
  height: 64px;
}

.app-brand-logo.demo {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
}

.app-brand-logo.demo svg {
  width: 1.7rem;
  height: 1.7rem;
}

.app-brand-text.demo {
  font-size: 1.75rem;
  letter-spacing: -0.45px;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 62px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 231px;
    position: relative;
  }
  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}




/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px !important; /* Adjust the width */
  height: 8px;
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: #272727;
  
}

/* Handle (the actual scroll part) */
::-webkit-scrollbar-thumb {
  
  border-radius: 10px;       /* Rounded corners */
  background: #434343; /* Track background color */
  
}



body{
  font-family: "Ubuntu", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

table th,td{padding: 8px 14px 8px 14px !important;font-size: 14px !important;}
table th{font-weight: 400 !important;}
th:not(:first-child), td:not(:first-child) {
min-width: 200px !important;
}
.dropdown-menu li{background: linear-gradient(to bottom, #262e3f, #283144) !important;}
.dropdown-menu{max-height: 300px;overflow: auto;}

.form-control-sm::file-selector-button {
padding: .25rem .6rem;
margin: -0.25rem -0.6rem;
margin-inline-end: .6rem;
}
.input-group-text{background-color: transparent;}
#searchInput{background-color: #232832 !important;}


@media (max-width: 576px) {
table th, td {
  padding: 8px 14px 8px 14px !important; /* Reduced padding on mobile */
  font-size: 14px !important; /* Smaller font size on mobile */
}
.btn-sm{font-size: 14px !important;padding: 0px 10px 0px 10px !important;}
.dropdown-menu{font-size: 14px !important;}
.dropdown-menu .dropdown-item{padding: 5;width: auto !important;}
th:not(:first-child), td:not(:first-child) {
min-width: 120px !important;width : 120px !important;
}

.btn{padding: 5px 10px;font-size: 14px;}
.searchbtnnn{font-size: 10px !important;}
}