{% extends 'master.html' %}
 
{% block contentsection %}
<div class="mb-4"><h4>Batches</h4></div> 
   
<div class="errors">
    {% if errors %}
    <ul>
        {% for field, field_errors in errors.items %}
        <li>{{ field }}:</li>
        <ul>
            {% for error in field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
{% endif %}

</div>
<!-- Modal to add new record -->
<div class="card">
    {% include 'message_show.html' %}
    <div class="card-header">
        <h5 class="offcanvas-title" id="exampleModalLabel">{% if update_data %}Update Record{% else %}New Record{% endif %}</h5>
    </div>
    <div class="card-body">
        <form class="add-new-record pt-0 row g-2" id="form-add-new-record" method="POST" action="{% url 'insert_update_batches' %}{% if update_data %}?pk={{update_data.batch_id}}{% endif %}">
            {% csrf_token %}
    
            <div class="col-sm-12">
                <label class="form-label mb-2">Subject Name</label>
                <div class="input-group input-group-merge">
                  <input type="text" class="form-control" name="batch_name" placeholder="Batch Name" {% if update_data %} value="{{update_data.batch_name}}" {% endif %}{% if filled_data %} value="{{filled_data.batch_name}}" {% endif %}/>
                </div>
              </div>
    
    
              <div class="col-sm-12" {% if update_data %}style="display:none;"{% endif %}>
                <label for="defaultSelect" class="form-label">Std Name</label>
                <select id="defaultSelect" class="form-select" name="batch_std">
                  <option value="">--</option>
                  {% for x in std_data %}
                    <option value="{{x.std_id}}"  {% if filled_data.batch_std.std_id == x.std_id %} selected {% endif %} {% if x.std_id == update_data.batch_std.std_id %} selected {% endif %} >{{x.std_name}} {{x.std_board.brd_name}}</option>
                    {% endfor %}
                </select>
              </div>
            
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1 mt-2">Submit</button>
            </div>
          </form>




    </div>
</div>
{% endblock %}