{% extends 'master.html' %}
 
{% block contentsection %}

{% include 'message_show.html' %}

  <div class="mb-4"><h4>Mail Templates</h4></div> 
   
  <div class="erroes">
    {% if errors %}
    <ul>
    {% for field, field_errors in errors.items %}
        <ul>
        {% for error in field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% endif %}
  </div>
  <!-- Modal to add new record -->
  <div class="card">
    <div class="card-header">
      <h5 class="offcanvas-title" id="exampleModalLabel">New Record</h5>
    </div>
    <div class="card-body">
      
    <form method="post" action="{% url 'insert_update_mail_templates' %}{% if update_data %}?pk={{update_data.mail_temp_id}}{% endif %}">
        {% csrf_token %}

        <div class="col-sm-12">            
            <label for="temp_html"><strong>Template Html :</strong></label><br>
            <textarea id="temp_html" name="temp_html" rows="10" cols="60" >
                {% if update_data %} {{update_data.mail_temp_html}} {% endif %}
            </textarea><br>
            <br>

            <label for="mail_temp_type">Mail Type:</label>
            <select id="mail_temp_type" name="mail_temp_type">
            <option value="Itroduction_mail" 
                {% if update_data and update_data.mail_temp_type == 'Itroduction_mail' %}selected{% endif %}>
                Itroduction_mail
            </option>
            <option value="Marketing_mail" 
                {% if update_data and update_data.mail_temp_type == 'Marketing_mail' %}selected{% endif %}>
                Marketing_mail
            </option>
            </select>
            <br>
            <br>
            <label for="mail_temp_selected">Mail Selected:</label>
            <input type="checkbox" id="mail_temp_selected" name="mail_temp_selected" 
                {% if update_data and update_data.mail_temp_selected %}checked{% endif %}>  
            <br>
            <br>
            <label for="domain_name">Domain Name:</label>
            <input type="text" id="domain_name" name="domain_name" 
                {% if update_data and update_data.domain_name %}value="{{ update_data.domain_name }}"{% endif %}>

        </div>
        <button type="submit">Submit</button>
    </form>
      
    </div>
  </div>

{% endblock %}