{% extends 'master.html' %}
 
{% block contentsection %}
  <div class="mb-4"><h4>Packages</h4></div> 
   
  <div class="erroes">
    {% if errors %}
    <ul>
    {% for field, field_errors in errors.items %}
        <ul>
        {% for error in field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% endif %}
  </div>
  <!-- Modal to add new record -->
  <div class="card">
    {% include 'message_show.html' %}
    <div class="card-header">
      <h5 class="offcanvas-title" id="exampleModalLabel">{% if update_data %}Update Record{% else %}New Record{% endif %}</h5>
    </div>
    <div class="card-body">
         
      <form class="add-new-record pt-0 row g-2" id="form-add-new-record" method="POST" action="{% url 'insert_update_packages' %}{% if update_data %}?pk={{update_data.pack_id}}{% endif %}">
        {% csrf_token %}

        <div class="col-sm-12">
            <label class="form-label mb-2">Package Name</label>
            <div class="input-group input-group-merge">
              <input type="text" class="form-control" name="pack_name" placeholder="Package Name" {% if update_data %} value="{{update_data.pack_name}}" {% endif %}{% if filled_data %} value="{{filled_data.pack_name}}" {% endif %}/>
            </div>
          </div>

          <div class="col-sm-12" {% if update_data %}style="display:none;"{% endif %}>
            <label for="defaultSelect" class="form-label">Std Name</label>
            <select id="defaultSelect" class="form-select" name="pack_std">
              <option value="">--</option>
              {% for x in std_data %}
                <option value="{{x.std_id}}"  {% if filled_data.pack_std.std_id == x.std_id %} selected {% endif %} {% if x.std_id == update_data.pack_std.std_id %} selected {% endif %} >{{x.std_name}} {{x.std_board.brd_name}}</option>
                {% endfor %}
            </select>
          </div>

          <div class="col-sm-12">
            <label for="packSubjectsSelect" class="form-label">Subjects</label>
            <select id="packSubjectsSelect" class="form-select" name="pack_subjects" multiple>
              {% for subject in subjects_data %}
                <option value="{{subject.sub_id}}" 
                  {% if update_data and subject in update_data.pack_subjects.all %} selected 
                  {% elif filled_data and subject in filled_data.pack_subjects %} selected 
                  {% endif %}>
                  {{subject.sub_name}}
                </option>
              {% endfor %}
            </select>
          </div>

          <div class="col-sm-12">
            <label class="form-label mb-2">Package Fees</label>
            <div class="input-group input-group-merge">
              <input type="text" class="form-control" name="pack_fees" placeholder="Package Fees" {% if update_data %} value="{{update_data.pack_fees}}" {% endif %}{% if filled_data %} value="{{filled_data.pack_fees}}" {% endif %}/>
            </div>
          </div>
        
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1 mt-2">Submit</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
