{% extends 'master.html' %}
 
{% block contentsection %}

{% include "message_show.html" %}

  <div class="mb-4"><h4>Stds</h4></div> 
   
  <div class="erroes">
    {% if errors %}
    <ul>
    {% for field, field_errors in errors.items %}
        <ul>
        {% for error in field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% endif %}
  </div>
  <!-- Modal to add new record -->
  <div class="card">
    <div class="card-header">
      <h5 class="offcanvas-title" id="exampleModalLabel">New Record</h5>
    </div>
    <div class="card-body">
         
      <form class="add-new-record pt-0 row g-2" id="form-add-new-record" method="POST" action="{% url 'insert_update_stds' %}{% if update_data %}?pk={{update_data.std_id}}{% endif %}">
        {% csrf_token %}

        <div class="col-sm-12">
          <label for="defaultSelect" class="form-label">Board Name</label>
          <select id="defaultSelect" class="form-select" name="std_board">
            {% for x in brddata %}
              <option  value="{{x.brd_id}}" {% if update_data.std_board == x %} selected {% endif %} {% if filled_data.std_board.brd_id == x.brd_id %}selected{% endif %}>{{x.brd_name}}</option>
            {% endfor %}
          </select>
        </div> 

        <div class="col-sm-12">
          <label class="form-label mb-2">Std Name</label>
          <div class="input-group input-group-merge">
            <input type="text" class="form-control" name="std_name" placeholder="10" {% if update_data %} value="{{update_data.std_name}}" {% endif %}{% if filled_data %} value="{{filled_data.std_name}}" {% endif %}/>
          </div>
        </div>
        
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1 mt-2">Submit</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}