<!DOCTYPE html>
<html lang="en" class="dark-style layout-navbar-fixed layout-menu-fixed layout-compact " dir="ltr"
  data-theme="theme-default" data-assets-path="/static/assets/" data-template="vertical-menu-template-dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>{{title}} | miniStudy</title>


  <meta name="description" content="Educational Portal" />
  <meta name="keywords" content="Educational Portal">
  {% include 'links.html' %}

</head>
<body>


  <div class="container-xxl">
    <div class="container-p-y">
      <div class="authentication-inner py-4 d-flex justify-content-center">

        <!-- Register -->
        <div class="card col-md-6">
          <div class="card-body">
            {% include 'message_show.html' %}
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="index.html" class="app-brand-link gap-2">
                <img src="/static/imgs/My_dream_logo/4_nobg.png" alt="My Logo" style="width: 48px;" />
                <img src="/static/imgs/My_dream_logo/2nobg.png" style="width: 150px;" />
              </a>
            </div>
            <!-- /Logo -->

            <!-- ============form=============== -->

            <h4 class="mb-2 mt-3 text-center">Welcome to {% include 'miniStudy_text.html' %}! 👋</h4>
            <p class="mb-4 mt-3 text-center">Please fill this form, Make sure all data are correct.</p>

            <form id="formAuthentication" class="mb-3" action="{% url 'add_distributer' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3">
                    <label for="distributer_name" class="form-label" required>Name</label>
                    <input type="text" class="form-control" id="distributer_name" name="distributer_name"
                      placeholder="Enter your name" autofocus>
                  </div>

                  <div class="mb-3">
                    <label for="distributer_number" class="form-label" required>Contact</label>
                    <input type="number" class="form-control" id="distributer_number" name="distributer_number"
                      placeholder="Enter your contact" autofocus>
                  </div>

                  <div class="mb-3">
                    <label for="distributer_email" class="form-label" required>Email</label>
                    <input type="email" class="form-control" id="distributer_email" name="distributer_email"
                    placeholder="Enter your email" autofocus>
                  </div>

                  <div class="mb-3">
                    <label for="distributer_password" class="form-label" required>Password</label>
                    <input type="password" class="form-control" id="distributer_password" name="distributer_password"
                      placeholder="Enter your password" autofocus>
                  </div>

                  
                  <div class="mb-3">
                    <label for="distributer_document" class="form-label" required>Document</label>
                    <input type="file" class="form-control" id="distributer_document" name="distributer_document"
                      placeholder="Enter your valid document" autofocus>
                  </div>


                  <div class="mb-3">
                    <label for="distributer_address" class="form-label" required>Address</label>
                    <input type="text" class="form-control" id="distributer_address" name="distributer_address"
                      placeholder="Enter your address" autofocus>
                  </div> 



              <div class="mb-3">
                <button class="btn btn-primary d-grid d-inline-block" type="submit" name="submitInquiry">Submit</button>
              </div>
            </form>

            <!-- ==============formEnd ================= -->

          </div>
        </div>
      </div>
    </div>
  </div>


  {% include 'charts.html' %}
  {% include 'scripts.html' %}



</body>

</html>