{% extends 'teacherpanel/master.html' %}
 
{% block contentsection %}
  <div class="mb-4"><h4>Attendance</h4></div> 
  

{% for message in messages %}
 {{message|safe}}
{% endfor %}
<!-- DataTable with Buttons -->
<div class="card">
    
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="myheadfont">{{title}} Data</div>
        <div>
          <div class="d-inline-block" id="exportbtns"></div>

        <a href="{% url 'insert_update_attendance' %}?get_std={{get_std.std_id}}&get_batch={{get_batch.batch_id}}">
            <button class="btn btn-primary">
                <i class="fa-solid fa-plus me-2"></i> ADD
            </button>
        </a>
        
      </div>
        
</div>
    
          <br>
          <div class="btn-group">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if get_std %}{{get_std.std_name}} {{get_std.std_board}}{% else %}Std{% endif %}</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'teacher_attendance' %}">ALL</a></li>
              {% for x in std_data %}
              <li><a class="dropdown-item" href="{% url 'teacher_attendance' %}?get_std={{x.std_id}}">{{x.std_name}} {{x.std_board}}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="btn-group">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if get_batch %}{{get_batch.batch_name}}{% else %}Batchs{% endif %}</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'teacher_attendance' %}?get_std={{get_std.std_id}}">ALL</a></li>
              {% for x in batch_data %}
              <li><a class="dropdown-item" href="{% url 'teacher_attendance' %}?get_std={{x.batch_std.std_id}}&get_batch={{x.batch_id}}">{{x.batch_name}}</a></li>
              {% endfor %}
            </ul>
          </div>


 <br><br>

<div class="card-datatable table-responsive pt-0">
    <table id="example" class="display table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Day</th>
                <th>time/ day / Date</th>
                <th>Subject</th>
                <th>tutor</th>
                <th>Attendance</th>
                <th>Student</th>
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
            <tr>
                <td>{{ x.atten_timetable.tt_day }}</td>
                <td>{{ x.atten_timetable.tt_time1 }}  {{x.atten_date|date:"d-m-Y"}}</td>
                <td>{{ x.atten_timetable.tt_subject1 }}</td>
                <td>{{ x.atten_timetable.tt_tutor1.fac_name }}</td>
                <td>{% if x.atten_present %}Present{% else %}Absent{% endif %}</td>
                <td>{{ x.atten_student.stud_name }} {{ x.atten_student.stud_lastname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 



         

    </div>
</div>

<br>
{% if overall_attendance %}
<div class="row">
    <div class="col-md-12 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center gap-3">
                  <div class="avatar">
                    <span class="avatar-initial bg-label-primary rounded-circle"><i class="bx bx-user fs-4"></i></span>
                  </div>
                  <div class="card-info">
                    <h5 class="card-title mb-0 me-2">{{overall_attendance}}%</h5>
                    <small class="text-muted">Overall Attendance</small>
                  </div>
                </div>
                <div id="conversationChart"></div>
              </div>
            </div>
          </div>
        </div>
        </div>
{% endif %}  


<div class="row">
    {% for x, y in combined_data %}
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center gap-3">
                        <div class="avatar">
                            <span class="avatar-initial bg-label-primary rounded-circle">
                                <i class="bx bx-user fs-4"></i>
                            </span>
                        </div>
                        <div class="card-info">
                            <h5 class="card-title mb-0 me-2">{{ x }}%</h5>
                            <small class="text-muted">{{ y }}</small>
                        </div>
                    </div>
                    <div id="conversationChart"></div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

        </div>




{% endblock %}