{% extends 'teacherpanel/master.html' %}
 
{% block contentsection %}
  <div class="mb-4"><h4>Attendance</h4></div> 
  

{% include 'message_show.html' %}
<!-- DataTable with Buttons -->

{% if overall_attendance %}

<div class="row">
  <div class="col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center gap-3">
                <div class="avatar">
                  <span class="avatar-initial bg-label-danger rounded-circle"><i class="fa-brands fa-battle-net fs-4"></i></span>
                </div>
                <div class="card-info">
                  <h5 class="mb-0 me-2">{{overall_attendance}}%</h5>
                  <small class="text-muted">Attendance</small>
                </div>
              </div>
              <div id="conversationChart"></div>
            </div>
          </div>
        </div>
      </div>
      </div>     
{% endif %} 


<div class="row">
  {% for x, y in combined_data %}
  <div class=" col-6 col-xs-6 col-sm-6 col-md-3 mb-4">
    <a href="">
      <div class="card card-border-shadow-info">
        <div class="card-body dashboardcardaddon1 p-2 py-3 p-md-4" >
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center gap-1 gap-md-1">
              <div class="avatar">
                <span class="avatar-initial bg-label-success rounded-circle"><i class="fa-solid fa-book fs-4"></i></span>
              </div>
              <div class="card-info">
                <h5 class="card-title ms-1 mb-0">{{ x }}%</h5>
                <small class="dashboardmutedtext text-muted ms-1">{{ y }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
{% endfor %}
</div>

<div class="card">
    
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="myheadfont">{{title}} Data</div>
        <div>
          <div class="d-inline-block" id="exportbtns"></div>

        <a href="{% url 'insert_update_attendance' %}?get_std={{get_std.std_id}}&get_batch={{get_batch.batch_id}}">
            <button class="btn btn-primary">
                <i class="fa-solid fa-plus me-2"></i> ADD
            </button>
        </a>
        
      </div>
        
</div>
    
          <br>
          <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
            <button class="btn btn-outline-primary btn-sm dropdown-toggle mt-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if get_std %}{{get_std.std_name}} {{get_std.std_board}}{% else %}Std{% endif %}</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'teacher_attendance' %}">ALL</a></li>
              {% for x in std_data %}
              <li><a class="dropdown-item" href="{% url 'teacher_attendance' %}?get_std={{x.std_id}}">{{x.std_name}} {{x.std_board}}</a></li>
              {% endfor %}
            </ul>
            <button class="btn btn-outline-primary btn-sm dropdown-toggle mt-2 ms-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if get_batch %}{{get_batch.batch_name}}{% else %}Batchs{% endif %}</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'teacher_attendance' %}?get_std={{get_std.std_id}}">ALL</a></li>
              {% for x in batch_data %}
              <li><a class="dropdown-item" href="{% url 'teacher_attendance' %}?get_std={{x.batch_std.std_id}}&get_batch={{x.batch_id}}">{{x}}</a></li>
              {% endfor %}
            </ul>
            <a href="{% url 'teacher_export_data' %}?get_std={{ get_std.std_id }}&get_sub={{ get_batch.batch_id }}&model_name=attendance"><button  type="button" class="btn btn-outline-primary ms-2 mt-2"><i class="fa-solid fa-file-export"></i></button></a>
          </div>
          <form method="get" action="{% url 'teacher_attendance' %} ">
            <div class="input-group mt-2 ms-0 ms-md-2" >
              <input 
                type="date" 
                name="atten_date" 
                class="form-control btn-outline-primary"
                {% if atten_date %} value="{{ atten_date }}" {% endif %} 
                style="padding: 2px 10px; width: 150px !important;" aria-label="Input group example"
                aria-describedby="btnGroupAddon"
              />
              <button id="searchButton" class="input-group-text btn-outline-primary" id="btnGroupAddon" type="submit"><i class="fa-regular fa-calendar-check"></i></button>
            </div>
          </form>
          <form method="get" action="{% url 'teacher_attendance' %}">
            <div class="input-group mt-2 ms-0 ms-md-2">
              <input type="text" id="" name="searchhh" class="form-control" style="padding: 2px;width: 100px !important;" placeholder="Search..." aria-label="Input group example" aria-describedby="btnGroupAddon">
              <input type="hidden" name="get_std" value="{{get_std.std_id}}" />
              <input type="hidden" name="get_batch" value="{{get_batch.batch_id}}" />
              <button id="searchButton" class="input-group-text" id="btnGroupAddon" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </form>
          </div>

<div class="card-datatable table-responsive pt-0">
    <table id="example" class="display table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Roll No.</th>
                <th>Date</th>
                <th>Time</th>
                <th>Subject</th>
                <th>tutor</th>
                <th>Attendance</th>
                <th>Student</th>
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
            <tr>
                <td>{{ x.atten_student__stud_roll_no }}</td>
                <td>{{x.atten_date|date:"d-m-Y"}}
                  {% if x.atten_timetable__tt_day == 'SUNDAY' %}/ SUN {% elif x.atten_timetable__tt_day == 'MONDAY' %}/ MON {% elif x.atten_timetable__tt_day == 'TUESDAY' %}/ TUE {% elif x.atten_timetable__tt_day == 'WEDNESDAY' %}/ WED {% elif x.atten_timetable__tt_day == 'FRIDAY' %}/ FRI {% elif x.atten_timetable__tt_day == 'SATURDAY' %}/ SAT {% else %} {% endif %}
                 </td>
                <td>{{ x.atten_timetable__tt_time1 }} </td>
                <td>{{ x.atten_timetable__tt_subject1__sub_name }}</td>
                <td>{{ x.atten_timetable__tt_tutor1__fac_name }}</td>
                <td>{% if x.atten_present %}<i class="fa-solid fa-square-check text-success"></i>{% else %}<i class="fa-solid fa-square-xmark text-danger"></i>{% endif %}</td>
                <td>{{ x.atten_student__stud_name }} {{ x.atten_student__stud_lastname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div> 
     <!-- Pagination -->
     {% for x in data.paginator.page_range %}
     <a href="?page={{x}}&get_std={{get_std.std_id}}&get_batch={{get_batch.batch_id}}&searchhh={{searchhh}}" class="btn btn-sm btn-outline-secondary mt-3 ms-1 {% if data.number == x %} btn-outline-primary {% endif %} mt-3">{{ x }}</a>
     {% endfor %}

<br>
{% for data in li %}
<a href="{% url 'teacher_edit_attendance' %}?hour={{data.hour}}&date={{data.date}}&get_batch={{data.subject.tt_batch.batch_id}}&get_std={{data.subject.tt_batch.batch_std.std_id}}&minute={{data.minute}}&tt_id={{data.tt_id}}">{{data.date}} {{data.hour}}:{{data.minute}} | {{data.subject.tt_subject1}}</a> <br>
{% endfor %}
    </div>
</div>




{% endblock %}