{% extends 'teacherpanel/master.html' %}

<!-- ================================================================================= -->



{% block contentsection %}
<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div class="myheadfont">DOUBT SECTION</div>
    </div>
  </div>
</div>

  {% for message in messages %}
  {{message|safe}}
  {% endfor %}
  <!-- DataTable with Buttons -->

  {% for data in doubts_data %}
  <div class="card mb-3">
    <div class="card-body">
      <p class="fw-medium">{{data.doubt_doubt|safe}}</p>
      <span class="fst-italic" style="font-size:12px">Date: {{data.doubt_date}}</span> <br>
      <a href="{% url 'teacher_solution_verify' %}?doubt_id={{data.doubt_id}}" class="btn border border-warning my-2 ms-1">{{data.count_solution}}
        Solution</a>
        <br>{% if data.verified_solution != 0 %}<span><img src="/static/imgs/verify.png" class="me-1" alt="verifyImage" style="width: 22px;">{{data.verified_solution}} Solution verified</span>{% endif %}
      <hr>
      <span>{{data.doubt_stud_id.stud_name}} {{data.doubt_stud_id.stud_lastname}}</span>
    </div>
  </div>
  {% endfor %}
  {% endblock %}