{% extends 'teacherpanel/master.html' %}

{% block contentsection %}
<div class="mb-4">
  <h4>Edit Solution</h4>
</div>

{% include "message_show.html" %}
<!-- DataTable with Buttons -->

<form action="{% url 'teacher_edit_solution' %}?solution_id={{solution_id}}" method="post">
  {% csrf_token %}
  <input type="hidden" name="solution_doubt_id" value={{instance.solution_doubt_id.doubt_id}}>
  
  <label for="exampleInputEmail1" class="form-label fw-medium mt-3">Write solution</label>
  {{ form.solution }}
  <button type="submit" class="btn btn-primary mt-1">Edit Solution</button>
</form>
{% endblock %}