{% extends 'teacherpanel/master.html' %}
 
{% block contentsection %}
 
<h4 class="py-3 breadcrumb-wrapper mb-4">Profile</h4>
  <!-- Header -->
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="user-profile-header-banner">
          <img src="/static/assets/img/pages/Untitled designsefsdf.png" alt="Banner image" class="rounded-top" style="width: 100%;">
        </div>
        <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
          <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
            <img src="/media/uploads/default_profile.jpg" alt="user image" class="d-block h-auto ms-0 ms-sm-4 rounded-3 user-profile-img" style="width: 120px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
          </div>
          <div class="flex-grow-1 mt-3 mt-sm-5">
            <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
              <div class="user-profile-info">
                {% for teacher in teacher_profile %}
                <h4>{{teacher.fac_name}}</h4>
                {% endfor %}
              </div>
              <a href="{% url 'teacher_profile_update' %}" class="btn btn-primary text-nowrap">
                <i class='bx bx-user-check me-1'></i>Update Information
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Header -->
  
  
  <!-- User Profile Content -->
  <div class="row">
    <div class="col-xl-4 col-lg-5 col-md-5">
      <!-- About User -->
      <div class="card mb-4">
        <div class="card-body">
          <p class="card-text text-uppercase">About</p>
          {% for teacher in teacher_profile %}
          <ul class="list-unstyled mb-4">
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Full Name:</span> <span>{{teacher.fac_name}}</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Contact:</span> <span>{{teacher.fac_number}}</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Email:</span> <span>{{teacher.fac_email}}</span></li>
            <li class="d-flex align-items-center mb-3"><span class="fw-medium mx-2">Address:</span> <span>{{teacher.fac_address}}</span></li>
          </ul>
          {% endfor %}
        </div>
      </div>
      <!--/ About User -->
      <!-- Profile Overview -->
      <div class="card mb-4">
        <div class="card-body">
          <p class="card-text text-uppercase">My Access</p>
          <ul class="list-unstyled mb-0">
            {% for x in teacher_access %}
            <li>{{x.fa_subject.sub_name}} | {{x.fa_batch}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--/ Profile Overview -->
    </div>
    <div class="col-xl-8 col-lg-7 col-md-7">
      <!-- Study Points -->
      <div class="card card-action mb-4">
        <div class="card-header align-items-center">
          <h5 class="card-action-title mb-0"><i class='bx bx-list-ul bx-sm me-2'></i>Study Points</h5>
        </div>
        <div class="card-body">
          Study points
        </div>
      </div>
      <!-- =======study points======== -->

    </div>
  </div>
{% endblock %}
