{% extends 'teacherpanel/master.html' %}
 
{% block contentsection %}
  <div><h5>{{test_data.test_name}}</h5></div> 
  <div class="mb-4">Total Marks- {{total_marks}}</div>
  

{% include 'message_show.html' %}

<div class="btn-group mb-3">
    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if batch_id %}{{batch_id.batch_name}}{% else %}Batch{% endif %}</button>
    <ul class="dropdown-menu">
      {% for x in batch_data %}
      <li><a class="dropdown-item" href="{% url 'insert_offline_marks' %}?test_id={{test_id}}&std_id={{std_id}}&batch_id={{x.batch_id}}">{{x.batch_name}}</a></li>
      {% endfor %}
    </ul>
  </div>

<form action="{% url 'save_offline_marks' %}" method="post"> 
    {% csrf_token %}    
    <input type="hidden" name="test_id" value="{{test_id}}">
    <input type="date" name="tau_date" class="form-control w-auto" required>

    <div class="card-datatable table-responsive pt-0 mt-3">
        <table class="display table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Student name</th>
                    <th>Enter marks</th>
                </tr>
            </thead>
            <tbody>
                {% for data in students_data %}
                <tr>
                    <input type="hidden" name="student_id" value="{{data.stud_id}}">
                    <td>{{data.stud_name}} {{data.stud_lastname}}</td>
                    <td><input type="number" class="form-control" name="marks" value="0" id="marks" style="width:150px" max="{{total_marks}}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %}
