{% extends 'teacherpanel/master.html' %}
 
{% block contentsection %}
  <div class="mb-4"><h4>Material Groups</h4></div> 
  

{% include 'message_show.html' %}

    {% comment %} <div class="d-flex justify-content-between align-items-center">
        <div class="d-inline-block" id="exportbtns"></div>
      <a href="{% url 'teacher_add_group' %}">
          <button class="btn btn-primary">
              <i class="fa-solid fa-plus me-2"></i> ADD
          </button>
      </a>
    </div> {% endcomment %}

<div class="d-flex flex-wrap justify-content-start gap-3 gap-md-4 mt-2">
{% for group in group_data %}
<div class="card p-3 materialgroup">
    <a href="{% url 'teacher_show_material' %}?group_id={{group.materialaccess_group.group_id}}"><img src="/static/imgs/folder (1).png" class="Materialsfolders" /></a>
    <span class="mt-2">{{group.materialaccess_group.group_name}}<a href="{% url 'teacher_delete_group' %}?pk={{group.materialaccess_group.group_id}}"><img src="/static/imgs/shortcuts/delete.png" class="ms-3" style="width: 20px;" /></a></span>
</div>
{% endfor %}
</div>
{% endblock %}