{% extends 'teacherpanel/master.html' %}
 
{% block contentsection %}
  <div class="mb-4"><h4>Tests</h4></div> 
  

{% include "teacherpanel/message_show.html" %}
<!-- DataTable with Buttons -->
<div class="card">
    
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <h5>{{title}} Data</h5>
            <div><div id="toolbar" class="d-inline-block me-2"></div><a href="{% url 'teacher_insert_update_tests' %}?get_std={{get_std.std_id}}&get_subject={{get_subject.sub_id}}"><button class="btn btn-primary"><i class="fa-solid fa-plus me-2"></i> ADD</button></a></div>
        </div>

<!-- =========================filter option============================= -->
<br>
          <div class="btn-group">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if get_std %}{{get_std.std_name}} {{get_std.std_board}}{% else %}Std{% endif %}</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'teacher_tests' %}">ALL</a></li>
              {% for x in std_data %}
              <li><a class="dropdown-item" href="{% url 'teacher_tests' %}?get_std={{x.std_id}}">{{x.std_name}} {{x.std_board}}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="btn-group">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if get_subject %}{{get_subject.sub_name}}{% else %}Subjects{% endif %}</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'teacher_tests' %}?get_std={{get_std.std_id}}">ALL</a></li>
              {% for x in subject_data %}
              <li><a class="dropdown-item" href="{% url 'teacher_tests' %}?get_std={{x.sub_std.std_id}}&get_subject={{x.sub_id}}">{{x}}</a></li>
              {% endfor %}
            </ul>
          </div>
<br><br>
<!-- =========================filter option end=================================== -->


    <form action="{% url 'teacher_delete_tests' %}" method="POST"> 
    {% csrf_token %}        
    <div class="card-datatable table-responsive pt-0">
        <table id="example" class="display table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th><input type="checkbox" class="form-check-input" name="selectionall" /></th>
                    <th>Test Name</th>
                    <th>Subject</th>
                    <th>Test Std</th>
                    <th>Questions</th>
                    <th>Total Marks</th>
                    <th>Insert Offline Marks</th>
                    <th>Attempted By</th>
                    <!-- <th>Edit</th> -->
                </tr>
            </thead>
            <tbody>
                {% for x in data %}
                <tr>
                    <td><input type="checkbox" class="form-check-input" value="{{x.test_id}}" name="selection" /></td>
                    <td><a href="{% url 'show_test_questions_teacher' %}?test_id={{x.test_id}}">{{x.test_name}}</a></td>
                    <td>{{x.test_sub.sub_name}}</td>
                    <td>{{x.test_std}}</td>
                    <td>{{x.num_questions}}</td>
                    <td>{{x.total_marks}}</td>
                    <td><a href="{% url 'insert_offline_marks' %}?test_id={{x.test_id}}&std_id={{get_std.std_id}}" class="btn btn-primary btn-sm">Insert</a></td>
                    <td><a href="{% url 'view_attemp_students' %}?test_id={{x.test_id}}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary" id="selected" name="delbtn" data-bs-toggle="modal" data-bs-target="#confirmdeletemodel"><i class="fa-solid fa-trash me-2"></i> Delete</button>
  
  <!-- Modal -->
  <div class="modal fade" id="confirmdeletemodel" tabindex="-1" aria-labelledby="confirmdeletemodelLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmdeletemodelLabel"><i class="fa-solid fa-trash me-2"></i> Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this data ..?<br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i> Delete</button>
        </div>
      </div>
    </div>
  </div>
    </form>
    </div>
    </div>
  </div>

  <!--/ DataTable with Buttons -->
{% endblock %}
