{% extends 'teacherpanel/master.html' %}

{% block contentsection %}
<div class="mb-4">
  <h4>Syllabus</h4>
</div>

{% include 'message_show.html' %}
    <button class="btn btn-outline-primary btn-sm dropdown-toggle mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% if get_batch %}{{get_batch.batch_name}}{% else %}Batches{% endif %}</button>
    <ul class="dropdown-menu">
    {% for x in batches %}
    <li><a class="dropdown-item" href="{% url 'teacher_syllabus' %}?get_batch={{x.batch_id}}">{{x}}</a></li>
    {% endfor %}
    </ul>

    <div class="card"> 
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="myheadfont">Add Syllabus</div>
            <div>
              <div class="d-inline-block" id="exportbtns"></div>
            <a href="{% url 'insert_update_syllabus' %}?get_batch={{get_batch.batch_id}}">
                <button class="btn btn-primary">
                    <i class="fa-solid fa-plus me-2"></i> ADD
                </button>
           </a>            
          </div>           
    </div>


    <div class="card-datatable table-responsive pt-0">
        <table id="data-table" class="display table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Chepter's Name</th>
                    <th>Completion Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
              {% for syllabus in syllabus_data %}
                <tr>
                    <td>{{syllabus.syllabus_chapter.chep_name}}</td>
                    <td>{{student.Completion_time}}</td>
                    <td>{{student.syllabus_status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div> 



    <div class="accordion" id="accordionExample">
        {% for subject in subjects %}
        <div class="accordion-item" style="border-bottom:1px solid grey;">
            <h2 class="accordion-header">
                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#abcd{{subject.sub_id}}"
                    aria-expanded="false" aria-controls="abcd{{subject.sub_id}}">
                    {{subject}}
                </button>
            </h2>
            
            <div id="abcd{{subject.sub_id}}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Chepter's Name</th>
                                    <th>Weitage</th>
                                    <th>Completion Time</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for chepter in chepters %}
                                    {% if chepter.chep_sub__sub_id == subject.sub_id %}
                                <tr>
                                    <td>{{chepter.chep_name}}</td>
                                    <td>10%</td>
                                    <td>{{chepter.completion_time}}</td>
                                    <td>
                                        {% if chepter.status != True %}
                                        <a href="{% url 'teacher_syllabus' %}?chep_id={{chepter.chep_id}}&status=1" class="btn btn-primary"><i class="fa-solid fa-xmark"></i></a>
                                        <a href="{% url 'teacher_syllabus' %}?chep_id={{chepter.chep_id}}&status=1" class="btn"><i class="fa-solid fa-check"></i></a>
                                        {% else %}
                                        <a href="{% url 'teacher_syllabus' %}?chep_id={{chepter.chep_id}}&status=0" class="btn"><i class="fa-solid fa-xmark"></i></a>
                                        <a href="{% url 'teacher_syllabus' %}?chep_id={{chepter.chep_id}}&status=0" class="btn btn-primary"><i class="fa-solid fa-check"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                                    {% endfor %}
                            </tbody>
                        </table>
                        
                </div>
            </div>
            
        </div>
        {% endfor %}
    </div>

    {% endblock %}