{% extends 'teacherpanel/master.html' %}

{% block contentsection %}
<div class="mb-4">
    <h4>Attendance</h4>
</div>


{% include 'message_show.html' %}
<!-- DataTable with Buttons -->

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div class="myheadfont">{{batch_data}}</div>
        </div>

        <br>

        <form action="{% url 'edit_handle_attendance' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="get_hour" value="{{get_hour}}">
            <input type="hidden" name="get_date" value="{{get_date}}">
            <input type="hidden" name="get_std" value="{{std_data.std_id}}">
            <input type="hidden" name="get_batch" value="{{batch_data.batch_id}}">
            <label for="atten_timetable">Days</label>
            <select class="form-select" name="atten_timetable" id="atten_timetable" required>
                <option value="">----</option>
                {% for x in timetable_data %}
                <option value="{{x.tt_id}}" {% for y in get_data|slice:":1" %}{% if y.atten_timetable.tt_id == x.tt_id %} selected {% endif %}
                {% endfor %}>{{x.tt_day}} - {{x.tt_time1}} - {{x.tt_subject1}}</option>
                {% endfor %}
            </select>
            <br>
            <div class="table-responsive pt-0">
                <table class="display table table-bordered" style="width:100%">
                    <thead>
                        <tr>                         
                            <th>SN</th>
                            <th>Student's Name</th>
                            <th><input type="checkbox" class="form-check-input" name="selectionall_attendance" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in get_data %}
                        <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{x.atten_student.stud_name}} {{x.atten_student.stud_lastname}}</td> 
                        <td>
                            <input type="checkbox" class="form-check-input" value="{{x.atten_student.stud_id}}" name="selection_attendance" {% if x.atten_present %} checked {% endif %} />
                         </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Modal -->
            <button type="button" class="btn btn-primary mt-4" id="selected_attendance"
                 name="delbtn" data-bs-toggle="modal" data-bs-target="#confirmdeletemodel">Submit</button>
            <!-- Modal -->
            <div class="modal fade" id="confirmdeletemodel" tabindex="-1" aria-labelledby="confirmdeletemodelLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="confirmdeletemodelLabel">Confirm submit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Are you sure you want to Submit this data ..?<br>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
                </div>
            </div>
            
        </form>

        


    </div>
</div>  














{% endblock %}